<script lang="ts">
  import Icon from '$ui/atoms/icon/Icon.svelte';
  import Button from '$ui/atoms/button/Button.svelte';
  import Loading from '$ui/atoms/loading/Loading.svelte';
  import SearchField from '$ui/molecules/search-field/SearchField.svelte';
  import Novel from '$ui/organisms/novel/Novel.svelte';
  import Default from '$ui/templates/default/Default.svelte';
  import Saga from '$ui/organisms/saga/Saga.svelte';
  import SearchUnfollow from '$ui/actions/SearchUnfollow.svelte';
  import SearchFollow from '$ui/actions/SearchFollow.svelte';
  import { isSaga } from '$ui/types';
  import { URL_USER_FOLLOWED_SEARCH } from '$views/constants';

  import type {
    Novel as NovelType,
    Saga as SagaType,
    SagaNovel
  } from '$ui/types';



  interface Events {
    onSearch: (args: string | undefined) => void;
    onSearchUnfollowed: () => void;
    onSearchFollowed: () => void;
    onStatusChange: (
      args: NovelType | (SagaType & { novel: SagaNovel })
    ) => void;
  }

  interface Props {
    search?: string | undefined;
    loading?: boolean;
    items?: Array<SagaType | NovelType>;
    followed: boolean | undefined;
  }

  let {
    search = $bindable(''),
    loading = false,
    items = [],
    followed,
    onSearch,
    onSearchUnfollowed,
    onStatusChange
  }: Props & Events = $props();

  function handleSearch() {
    onSearch(search);
  }

  let searchDisabled = $derived(!search || search.length < 3);
</script>

<div>
  <Default>
    <div>
      {#if search}
        <h3 class="text-center">"{search}"</h3>
      {/if}
      {#if loading}
        <div class="mt-5">
          <Loading large />
        </div>
      {:else if items.length > 0}
        <div
          class="list-group list-group-flush mx-md-4 mx-0 p-0"
          data-cy="page-search"
        >
          {#each items as item, index (index)}
            <div class="my-2">
              {#if isSaga(item)}
                <Saga
                  {...item}
                  {onStatusChange}
                />
              {:else}
                <Novel
                  {...item}
                  {onStatusChange}
                />
              {/if}
            </div>
          {/each}
        </div>
      {/if}
      {#if !loading && search}
        {#if items.length == 0}
          <div class="my-4 d-flex flex-column align-items-center no-result">
            <strong>No results found.</strong>
          </div>
        {/if}

        {#if followed}
          <div
            class="d-flex flex-column align-items-center justify-content-center my-4"
          >
            <div class="mb-2 d-flex flex-column align-items-center">
              <small>Already tracking this search.</small>
              <small>Do you want to stop tracking it?</small>
            </div>

            <SearchUnfollow
              nbResults={items.length}
              {search}
              on:complete={onSearchUnfollowed}
            />
          </div>
        {:else}
          <div class="my-4 d-flex flex-column align-items-center">
            <div>Do you want to keep an eye on this search?</div>

            <SearchFollow
              nbResults={items.length}
              {search}
              onComplete={onSearchUnfollowed}
            />
          </div>
        {/if}
      {/if}

      <div
        class="d-flex flex-column align-items-center justify-content-center my-4"
      >
        <a href={URL_USER_FOLLOWED_SEARCH}>See followed searches</a>
      </div>
    </div>
  </Default>

  <div
    class="fixed-bottom navbar navbar-expand navbar-dark bg-dark form-group d-flex m-0"
    data-cy="template-search"
  >
    <SearchField
      class="m-0 flex-grow-1"
      bind:value={search}
      {onSearch}
    />

    <Button
      class="mx-2"
      color="primary"
      disabled={searchDisabled}
      {loading}
      onClick={handleSearch}
    >
      <Icon name="search" />
    </Button>
  </div>
</div>

<style>
  .no-result {
    gap: 1rem;
  }
</style>
