<script lang="ts">
  import get from 'lodash/get';

  import Topbar from '$ui/organisms/topbar/Topbar.svelte';

  import type { User } from '$ui/types';

  interface Props {
    user?: User | undefined;
    open?: boolean;
    children?: import('svelte').Snippet;
  }

  let { user = undefined, open = false, children }: Props = $props();

  let username = $derived(get(user, 'name'));
</script>

<header class="fixed-top">
  <Topbar
    class="border-top border-secondary"
    {open}
    {username}
  />
</header>

<main>
  {@render children?.()}
</main>

<style>
  main {
    padding-top: 55px;
    position: relative;
  }
</style>
