<script>
  import { createEventDispatcher } from 'svelte';
  import debounce from 'lodash/debounce';

  import Chord from '$lib/ui/atoms/fields/chord/ChordField.svelte';

  const dispatch = createEventDispatcher();

  export let name;
  export let chords;
  export let errors;

  function onChange() {
    dispatch('change', { name, chords });
  }

  const handleChange = debounce(onChange, 200);
</script>

<div class="d-flex flex-column align-items-center">
  <div class="form-group d-flex flex-column align-items-center">
    <label
      for="chord-name"
      class="mb-1">Name</label
    >
    <input
      type="text"
      id="chord-name"
      class="form-control text-center"
      class:is-invalid={errors && errors.name}
      bind:value={name}
      on:keydown={handleChange}
    />
    {#if errors && errors.name}
      <div class="invalid-feedback">{errors.name}</div>
    {/if}
  </div>
  {#if chords && chords.length}
    <div class="d-flex">
      {#each chords as chord}
        <div class="mx-2">
          <Chord
            bind:finger={chord.finger}
            name={chord.name}
            on:change={onChange}
            on:keydown={handleChange}
          />
        </div>
      {/each}
    </div>
  {/if}
</div>

<style>
  input {
    width: 100px;
  }
</style>
