<script>
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';

  export let saving;

  const dispatch = createEventDispatcher();

  function onSubmit() {
    dispatch('submit');
  }

  function onCancel() {
    dispatch('cancel');
  }

  $: saveLabel = $_('common.' + (saving ? 'saving' : 'save'));
</script>

<div class="action">
  <button
    class="btn btn-light"
    on:click={onCancel}>{$_('common.back')}</button
  >
  <button
    class="btn"
    class:btn-outline-success={!saving}
    class:btn-success={saving}
    on:click={saving ? null : onSubmit}
    disabled={saving}
  >
    {saveLabel}
  </button>
</div>

<style>
  .action {
    display: flex;
    justify-content: space-between;
  }
</style>
