<script lang="ts">
  import NavItem from '$ui/atoms/nav-item/NavItem.svelte';
  import NavbarContainer from '$ui/atoms/containers/navbar/NavbarContainer.svelte';

  import type { Color } from '$ui/types';

  interface NavItemType {
    href: string;
    icon: string;
    color?: Color;
  }
  interface Props {
    items?: NavItemType[];
    reverse?: boolean;
    class?: string;
  }

  let { items = [], reverse = false, class: classProp }: Props = $props();
</script>

<NavbarContainer
  class={classProp}
  {reverse}
>
  {#each items as item (item.icon)}
    <NavItem {...item} />
  {/each}
</NavbarContainer>
