<script lang="ts">
  import DropdownItem from '$ui/atoms/dropdown-item/DropdownItem.svelte';

  import { STATUSES } from './utils';

  import type { Snippet } from 'svelte';


  interface Props {
    values?: string[];
    children?: Snippet;
    onClick: (args: string) => void;
  }

  let { values = [], children, onClick }: Props = $props();

  function makeHandleClick(detail: string) {
    return () => {
      onClick(detail);
    };
  }
</script>

<div class="select list-group">
  {#each STATUSES as item (item.value)}
    <DropdownItem
      active={values.indexOf(item.value) > -1}
      color={item.color}
      cyId="molecules_novelStatus_values"
      icon={item.icon}
      label={item.label}
      onClick={makeHandleClick(item.value)}
    />
  {/each}
  {@render children?.()}
</div>

<style>
  .select {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
  }
</style>
