<script>
  import BaseField from '$lib/ui/atoms/fields/base/BaseField.svelte';

  export let label;
  export let value;
  export let items;
  export let error;
  export let placeholder;
</script>

<BaseField
  {label}
  {error}
  class={$$props.class}
>
  <select
    bind:value
    class="form-control"
    class:is-invalid={error}
    {placeholder}
  >
    {#each items as item}
      <option value={item.id}>{item.label}</option>
    {/each}
  </select>
</BaseField>

<style>
  select {
    flex-grow: 1;
  }
</style>
