<script>
  import Navbar from '$lib/ui/organisms/navbar/Navbar.svelte';

  export let links = [];
</script>

<header>
  <Navbar {links} />
</header>

<main class="px-2">
  <slot />
</main>

<style>
  main {
    margin-top: 65px;
  }
</style>
