<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import IconButton from '$lib/ui/atoms/icon-button/IconButton.svelte';
  import type { Dispatcher } from '$lib/ui/types';

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    actions: unknown;
    detail: unknown;
  }
  interface $$Events {
    seeMore: CustomEvent;
    click: CustomEvent;
  }
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  type Source = { url: string; name: string };

  export let title: string;
  export let url: string;
  export let icon: string;
  export let source: Source | undefined = undefined;
  export let open = false;
  export let hideDetail = false;
  export let inactive = false;
  export let cyId: string | undefined = undefined;

  function onSeeMore() {
    dispatch('seeMore');
  }
</script>

<div
  class="list-group-item list-group-item-action m-0"
  class:inactive={inactive && !open}
  data-cy={cyId}
>
  <div
    class="row no-gutters align-items-center d-flex mx-2 my-1 flex-nowrap"
    class:cursor={!hideDetail}
    on:click
    on:keydown
  >
    <div class="icon mr-1">
      <Icon name={icon} />
    </div>
    <div class="d-flex flex-grow-1 overflow-hidden flex-wrap">
      <a
        class="text-truncate"
        href={url}
        rel="noreferrer noopener"
        target="_blank"
      >
        {title}
      </a>
      {#if source}
        <a
          class="ml-1"
          href={source.url}
        >
          <span class="text-secondary">{source.name}</span>
        </a>
      {/if}
    </div>
    <div class="d-flex flex-shrink-1">
      <slot name="actions" />
      {#if !hideDetail}
        <IconButton
          name={open ? 'arrowUp' : 'arrowDown'}
          color="secondary"
          cyId="list-item_see-more"
          on:click={onSeeMore}
        />
      {/if}
    </div>
  </div>
  {#if open}
    <slot name="detail" />
  {/if}
</div>

<style>
  a {
    margin-left: 5px;
  }

  .cursor {
    cursor: pointer;
  }

  .list-group-item {
    padding: 1px;
  }

  .list-group-item.inactive {
    opacity: 0.6;
  }

  .list-group-item:active {
    background-color: var(--dark);
  }
</style>
