<script lang="ts">
  interface Props {
    color?: string;
    border?: boolean;
    medium?: boolean;
    large?: boolean;
  }

  let {
    color = 'secondary',
    border = false,
    medium = false,
    large = false
  }: Props = $props();
</script>

<div class="loading">
  <div
    class="text-{color}"
    class:spinner-grow={!border}
    class:spinner-border={border}
    class:medium
    class:large
  ></div>
</div>

<style>
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
  }

  .loading > div {
    width: 1rem;
    height: 1rem;
  }

  .loading > div.medium {
    width: 1.5rem;
    height: 1.5rem;
  }

  .loading > div.large {
    width: 2.5rem;
    height: 2.5rem;
  }
</style>
