<script lang="ts">
  import BookcaseStatus from '$ui/atoms/bookcase-status/BookcaseStatus.svelte';

  interface Props {
    active?: boolean;
    cote: string;
    isAvailable: boolean;
    library: { url: string; name: string };
    status: string;
    whenBack?: string | undefined;
  }

  let {
    active = false,
    cote,
    isAvailable,
    library,
    status,
    whenBack = undefined
  }: Props = $props();
</script>

<div
  class="holding d-flex p-2 align-items-center list-group-item list-group-item-action"
  class:bg-gradient-dark={active}
  class:bg-dark={!active}
>
  <BookcaseStatus
    {cote}
    {isAvailable}
    {status}
    {whenBack}
  />

  <a
    class="site text-truncate"
    href={library.url}
    rel="noreferrer noopener"
    target="_blank"
  >
    {library.name}
  </a>
</div>

<style>
  .holding {
    position: relative;
    border-bottom: 1px solid var(--gray);
  }

  .holding .site {
    flex-grow: 1;
    text-align: right;
  }
</style>
