<script>
  import { goto, stores } from '@sapper/app';
  import { _ } from 'svelte-i18n';
  import { onMount } from 'svelte';

  import Loading from '$lib/ui/atoms/loading/Loading.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import ListTabItem from '$lib/ui/organisms/list-tab-item/ListTabItem.svelte';
  import Search from '$lib/ui/organisms/search/Search.svelte';

  import { searchTabs } from './utils';

  const { session } = stores();

  const sorts = [
    { label: 'tab.sorts.titleAsc', value: 'titleAsc' },
    { label: 'tab.sorts.titleDesc', value: 'titleDesc' },
    { label: 'tab.sorts.artistAsc', value: 'artistAsc' },
    { label: 'tab.sorts.artistDesc', value: 'artistDesc' },
    { label: 'tab.sorts.createdDesc', value: 'createdDesc' },
    { label: 'tab.sorts.updatedDesc', value: 'updatedDesc' }
  ];

  let sort = sorts[0];
  let search = '';

  let tabs = [];
  let total;
  let isLoading = false;

  onMount(() => loadTabs());

  async function loadTabs() {
    isLoading = true;
    tabs = await searchTabs({ search, sort, withFiles: true });
    isLoading = false;
    total = tabs.length;
  }

  function addTab() {
    goto('/tab/0');
  }

  async function onSearch({ detail }) {
    search = detail;
    loadTabs();
  }

  async function onSort({ detail }) {
    sort = detail;
    loadTabs();
  }

  $: user = $session.user;
  $: caption = total ? $_('tab.found').replace('%TOTAL%', total) : $_('tab.notFound');
</script>

<svelte:head>
  <title>{$_('tab.header')}</title>
</svelte:head>

<div class="d-flex flex-column">
  <div class="row my-3">
    <div class="col col-sm-8 mx-auto">
      <Search
        {sorts}
        {sort}
        {caption}
        placeholder={$_('common.search')}
        on:search={onSearch}
        on:sort={onSort}
      />
    </div>
  </div>
  {#if user}
    <div class="action">
      <button
        class="btn btn-link"
        on:click={addTab}>{$_('tab.add')}</button
      >
    </div>
  {/if}
  <Loading {isLoading}>
    <List
      component={ListTabItem}
      items={tabs}
    />
  </Loading>
</div>

<style>
  .action {
    display: flex;
    justify-content: flex-end;
  }
</style>
