<script lang="ts">

  import { enhance } from '$app/forms';

  import Icon from '$ui/atoms/icon/Icon.svelte';

  import type { Bookcase } from '$ui/types';
  import type { ActionResult } from '@sveltejs/kit';
  import type { Snippet } from 'svelte';

  interface Props {
    details: string;
    id?: number;
    isPending?: boolean;
    onSuccess: (bookcase: Bookcase[]) => void;
    class?: string;
    children: Snippet<
      [
        {
          onSubmit: (e: MouseEvent) => void;
          isPending: boolean;
        }
      ]
    >;
  }

  let {
    details,
    id,
    isPending = $bindable(false),
    onSuccess,
    children,
    class: classProp
  }: Props = $props();

  let error: string | undefined = $state(undefined);
  let form: HTMLFormElement;

  function onSubmit(e: MouseEvent) {
    e.stopPropagation();
    form.requestSubmit();
  }

  function useEnhance() {
    isPending = true;
    error = undefined;
    return async ({
      result
    }: {
      result: ActionResult<{ success: true; bookcases: Bookcase[] }>;
    }) => {
      isPending = false;
      if (result.type !== 'success' || !result.data) {
        error = 'Oops, there is a problem.';
        return;
      }
      const { bookcases } = result.data;
      onSuccess(bookcases);
    };
  }
</script>

<form
  bind:this={form}
  action="?/getBookBookcases"
  method="POST"
  use:enhance={useEnhance}
  class={classProp}
>
  <input
    name="id"
    type="hidden"
    value={id}
  />
  <input
    name="details"
    type="hidden"
    value={details}
  />

  {@render children({ onSubmit, isPending })}
  {#if error}
    <span class="d-flex align-items-center">
      <Icon
        name="warning"
        small
        class="text-danger"
      />
      <small class="text-danger">{error}</small>
    </span>
  {/if}
</form>
