<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import { enhance } from '$app/forms';

  import Icon from '$ui/atoms/icon/Icon.svelte';
  import Button from '$ui/atoms/button/Button.svelte';

  import type { Dispatcher } from '$ui/types';
  import type { ActionResult } from '@sveltejs/kit';

  interface Props {
    search: string;
    nbResults: number;
    following?: boolean;
  }

  let { search, nbResults, following = $bindable(false) }: Props = $props();

  let followedError: string | undefined = $state(undefined);

  interface $$Events {
    complete: CustomEvent;
  }

  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  function onUnfollowSearch() {
    following = true;
    followedError = '';
    return async ({ result }: { result: ActionResult }) => {
      following = false;
      if (result.status !== 200) {
        followedError = 'Oops, there is a problem.';
        return;
      }
      following = false;
      dispatch('complete');
    };
  }
</script>

<form
  action="?/searchUnfollow"
  method="POST"
  use:enhance={onUnfollowSearch}
  class="d-flex align-items-center"
>
  <input
    name="search"
    type="hidden"
    value={search}
  />
  <input
    name="nbResults"
    type="hidden"
    value={nbResults}
  />

  {#if followedError}
    <span class="d-flex align-items-center">
      <Icon
        name="warning"
        small
        class="text-danger"
        title={followedError}
      />
      <small class="text-danger">{followedError}</small>
    </span>
  {/if}

  <Button
    class="ml-1"
    color="warning"
    loading={following}
    small
    type="submit"
  >
    <Icon
      name="eyeOff"
      small
    />
  </Button>
</form>
