<script lang="ts">

  import { enhance } from '$app/forms';

  import Icon from '$ui/atoms/icon/Icon.svelte';
  import Button from '$ui/atoms/button/Button.svelte';

  import type { Dispatcher } from '$ui/types';
  import type { ActionResult } from '@sveltejs/kit';

  interface Props {
    search: string;
    nbResults: number;
    following?: boolean;
    onComplete: () => void;
  }

  let {
    search,
    nbResults,
    following = $bindable(false),
    onComplete
  }: Props = $props();

  let followedError: string | undefined = $state(undefined);

  function onFollowSearch() {
    following = true;
    followedError = '';
    return async ({ result }: { result: ActionResult }) => {
      following = false;
      if (result.status !== 200) {
        followedError = 'Oops, there is a problem.';
        return;
      }
      following = false;
      onComplete();
    };
  }
</script>

<form
  action="?/searchFollow"
  method="POST"
  use:enhance={onFollowSearch}
>
  <input
    name="search"
    type="hidden"
    value={search}
  />
  <input
    name="nbResults"
    type="hidden"
    value={nbResults}
  />
  <div class="d-flex align-items-center">
    {#if followedError}
      <span class="d-flex align-items-center">
        <Icon
          name="warning"
          small
          class="text-danger"
          title={followedError}
        />
        <small class="text-danger">{followedError}</small>
      </span>
    {/if}
    <Button
      class="mx-2 my-3"
      loading={following}
      type="submit"
    >
      <Icon
        small
        name="eye"
      />
    </Button>
  </div>
</form>
