<script>
  import { goto } from '$app/navigation';
  import TabEdit from '$lib/ui/organisms/form/tab/TabForm.svelte';
  import Tab from '$lib/ui/organisms/tab/Tab.svelte';

  import { URL_EDIT } from '../constants';

  import { prepareTab } from './prepareTab';
  import { searchArtists, uploadTabFile, saveTab, findFile } from './utils';

  export let categories = [];
  export let user;
  export let id = 0;

  export let tab = {};
  export let files = [];

  let isSaving = false;

  $: if (!tab.id && !tab.author && user) {
    tab.author = user.name;
  }

  let errors;

  function setTab(resultTab) {
    const { files: filesList, ...rest } = prepareTab(resultTab);
    tab = rest;
    files = filesList;
  }

  function handleSubmitResponse({ success, errors: err, ...rest }) {
    isSaving = false;
    if (success === true) {
      errors = {};
      if (parseInt(id) === 0) {
        goto(URL_EDIT.replace('#ID#', rest.id));
      } else {
        setTab(rest.tab);
      }
      return;
    }
    errors = err;
  }

  function onCancel() {
    window.history.back();
  }

  function onSubmitForm({ detail }) {
    const data = {
      ...tab,
      ...detail,
      files
    };

    isSaving = true;
    saveTab(data).then(handleSubmitResponse);
  }

  async function onUpload({ detail: file }) {
    const index = files.findIndex(findFile(file));
    if (index > -1) {
      const resp = confirm(`
        ${file.file.name}, already exists.
        Do you want to replace it?
      `);
      if (!resp) {
        return;
      }
    }
    files = await uploadTabFile({ files, file, index });
  }

  function onSelectFile({ detail: { file, index } }) {
    const newFiles = [...files];

    tab.fileId = file.id;

    files = newFiles.map((f, i) => ({ ...f, selected: index === i }));
  }

  $: htmlTitle = tab.title ? `${tab.title} - ${tab.artist}` : 'new tab';
</script>

<svelte:head>
  <title>{htmlTitle}</title>
</svelte:head>

<div class="tab-form">
  {#if user}
    <TabEdit
      {isSaving}
      {...tab}
      {files}
      {categories}
      {errors}
      loadArtists={searchArtists}
      on:upload={onUpload}
      on:submit={onSubmitForm}
      on:cancel={onCancel}
      on:selectFile={onSelectFile}
    />
  {:else}
    <Tab
      {...tab}
      {files}
    />
  {/if}
</div>
