<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  interface $$Props {
    class?: string;
    color?: string;
    name: string;
    medium?: boolean;
    large?: boolean;
    disabled?: boolean;
    cyId?: string;
  }

  export let color = 'primary';
  export let name: string;
  export let medium = false;
  export let large = false;
  export let disabled = false;
  export let cyId: string | undefined = undefined;
</script>

<button
  data-cy={cyId}
  class="btn btn-outline-{color} p-1 {$$props?.class ?? ''}"
  {disabled}
  on:click|stopPropagation
>
  <Icon
    {name}
    {medium}
    {large}
  />
</button>

<style>
  button {
    border-radius: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.btn-outline-warning:hover {
    color: white !important;
  }
</style>
