<script
  lang="ts"
  strictEvents
>
  interface Props {
    whenBack?: string | undefined;
    cote: string;
    status: string;
    isAvailable: boolean;
  }

  let { whenBack = undefined, cote, status, isAvailable }: Props = $props();
</script>

<div class="d-flex p-1 p-sm-2 align-items-center">
  <span
    class="dot"
    class:bg-danger={!isAvailable}
    class:bg-success={isAvailable}
  ></span>

  <div class="d-flex flex-column flex-sm-row ml-2">
    <span class="status-label align-items-center d-flex">
      <small class="d-none d-sm-block">
        <strong>{status}</strong>
      </small>
      {#if whenBack}
        <small class="text-muted ml-1">{whenBack}</small>
      {/if}
    </span>
    <small class="text-muted mx-1">{cote}</small>
  </div>
</div>

<style>
  .dot {
    display: block;
    flex-shrink: 0;
    border-radius: 100%;
    height: 10px;
    width: 10px;
  }

  .status-label {
    white-space: nowrap;
    margin-right: 3px;
  }
</style>
