<script>
  export let color = 'primary';
  export let loading = false;
  export let outline = false;
  export let disabled = false;
  export let cyId = '';

  $: btnDisabled = loading || disabled;
  $: className = `btn-${outline || btnDisabled ? 'outline-' : ''}${color} ${$$props.class || ''}`;
</script>

<button
  class={`d-flex btn px-4 ${className}`}
  class:loading
  disabled={btnDisabled}
  on:click|stopPropagation
  data-cy={cyId}
>
  <slot />
  <span class="spinner-border" />
</button>

<style>
  button {
    position: relative;
  }

  button,
  .spinner-border {
    transition: 0.3s linear;
  }

  .spinner-border {
    opacity: 0;
    position: absolute;
    top: calc(50% - 0.65rem);
    right: 5px;
    width: 1.3rem;
    height: 1.3rem;
    border-width: 3px;
    transition: 0.3s linear;
  }

  .loading {
    padding-right: 35px !important;
    padding-left: 10px !important;
  }

  .loading .spinner-border {
    opacity: 1;
  }
</style>
