<script context="module">
  export const colors = [
    'primary',
    'secondary',
    'success',
    'danger',
    'warning',
    'info',
    'light',
    'dark',
    'link'
  ];
</script>

<script>
  import Button from './Button';

  export let loading = false;

  function onClick() {
    loading = !loading;
  }
</script>

<div class="d-flex flex-wrap">
  {#each colors as color}
    <div class="m-1">
      <Button
        {...$$props}
        on:click={onClick}
        {color}
        {loading}
      >
        {color}
      </Button>
    </div>
  {/each}
</div>
