<script>
  import BaseField from '$lib/ui/atoms/fields/base/BaseField.svelte';

  export let label;
  export let value = '';
  export let items;
  export let error;
  export let placeholder;
  export let name;

  let className;
  export { className as class };

  $: {
    if (!value) {
      value = '';
    }
  }
</script>

<BaseField
  {label}
  {error}
  class={className}
>
  <select
    {name}
    bind:value
    class="form-control"
    class:is-invalid={error}
  >
    {#if placeholder}
      <option value="">{placeholder}</option>
    {/if}
    {#each items as { label, value }}
      <option {value}>{label}</option>
    {/each}
  </select>
</BaseField>

<style>
  select {
    flex-grow: 1;
  }
</style>
