<script
  lang="ts"
  strictEvents
>
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

   

  interface Props {
    label?: string;
    error?: string;
    id?: string;
    class?: string;
    children?: import('svelte').Snippet;
    [key: string]: any;
  }

  let {
    label = undefined,
    error = undefined,
    id = undefined,
    children,
    ...rest
  }: Props = $props();
</script>

<div class={`${rest.class ?? ''} form-group`}>
  {#if label}
    <label
      class="w-100"
      for={id}>{@html label}</label
    >
  {/if}
  {@render children?.()}
  {#if error}
    <div class="invalid-feedback">{error}</div>
  {/if}
</div>

<style>
  .invalid-feedback {
    display: block;
  }
</style>
