<script lang="ts">
  import BaseField from './BaseField';
  interface Props {
    [key: string]: any;
  }

  let { ...props }: Props = $props();
</script>

<BaseField {...props}>
  <span class="border"> slot content </span>
</BaseField>
