<script lang="ts">
  import BaseField from '$ui/atoms/fields/base/BaseField.svelte';

  import type { Snippet } from 'svelte';

  interface Props {
    name: string;
    label?: string;
    error?: string;
    small?: boolean;
    right?: boolean;
    class?: string;
    autofocus?: boolean;
    type?: 'text' | 'email' | 'password';
    placeholder?: string;
    value?: string;
    required?: boolean;
    children?: Snippet;
  }

  let {
    type = 'text',
    label,
    value = $bindable(''),
    placeholder,
    error,
    small = false,
    right = false,
    name,
    class: classProp = '',
    autofocus = false,
    children
  }: Props = $props();

  function getClass({
    small,
    error,
    right
  }: {
    small?: boolean;
    error?: string;
    right?: boolean;
  }) {
    let classes = ['form-control'];

    if (small) {
      classes.push('form-control-sm');
    }

    if (error) {
      classes.push('is-invalid');
    }

    if (right) {
      classes.push('text-right');
    }

    return classes.join(' ');
  }

  function init(el: HTMLElement) {
    if (autofocus) {
      setTimeout(() => el.focus(), 0);
    }
  }

  const inputProps = $derived({
    name,
    class: getClass({ small, error, right }),
    placeholder
  });
</script>

<BaseField
  class={classProp}
  {error}
  {label}
>
  {#if type === 'email'}
    <input
      type="email"
      bind:value
      use:init
      {...inputProps}
    />
  {:else if type === 'password'}
    <input
      type="password"
      bind:value
      use:init
      {...inputProps}
    />
  {:else}
    <input
      type="text"
      bind:value
      use:init
      {...inputProps}
    />
  {/if}
  {@render children?.()}
</BaseField>

<style>
  input {
    flex-grow: 1;
    width: 100%;
  }
</style>
