<script
  lang="ts"
  strictEvents
>
  import { parseErrors } from './utils';

  interface Props {
    errors?: string;
  }

  let { errors = '' }: Props = $props();

  let parsedErrors = $derived(parseErrors(errors));
</script>

{#if parsedErrors.length}
  <ul
    class="alert alert-danger"
    data-cy="errors"
    role="alert"
  >
    {#each parsedErrors as error (error)}
      <li>{@html error}</li>
    {/each}
  </ul>
{/if}

<style>
  ul {
    list-style-type: none;
  }
</style>
