<script
  lang="ts"
  strictEvents
>
  import BaseField from '$ui/atoms/fields/base/BaseField.svelte';

  import type { Option } from '$ui/types';

  interface Props {
    label?: string | undefined;
    value?: string | number | undefined;
    items: Option[];
    error?: string | undefined;
    placeholder?: string | undefined;
    class: string | undefined;
  }

  let {
    label = undefined,
    value = $bindable(''),
    items,
    error = undefined,
    placeholder = undefined,
    class: className
  }: Props = $props();
</script>

<BaseField
  class={className}
  {error}
  {label}
>
  <select
    class="form-control"
    class:is-invalid={error}
    bind:value
  >
    {#if placeholder}
      <option value="">{placeholder}</option>
    {/if}
    {#if items?.length}
      {#each items as { label, value } (value)}
        <option {value}>{label}</option>
      {/each}
    {/if}
  </select>
</BaseField>

<style>
  select {
    flex-grow: 1;
  }
</style>
