<script lang="ts">
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import Button from '$lib/ui/atoms/button/Button.svelte';
  import Default from '$lib/ui/templates/default/Default.svelte';

  export let loading = false;
  export let errors: undefined | string;
  export let password = '';
  export let login = '';
</script>

<Default>
  <div class="d-flex align-items-center flex-column">
    <div class="form-group">
      <input
        class="form-control"
        name="login"
        type="text"
        placeholder="email or username"
        bind:value={login}
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        name="password"
        type="password"
        placeholder="password"
        bind:value={password}
      />
    </div>

    {#if errors}
      <Errors {errors} />
    {/if}

    <Button
      cyId="loginButton"
      color="primary"
      {loading}
      disabled={!login || !password}>Log In</Button
    >
  </div>
</Default>
