<script lang="ts">
  import { parseErrors } from './parseErrors';

  export let errors: string | string[] | undefined = '';

  $: parsedErrors = parseErrors(errors);
</script>

{#if parsedErrors.length}
  <ul
    data-cy="errors"
    class="alert alert-danger"
    role="alert"
  >
    {#each parsedErrors as error}
      <li>{@html error}</li>
    {/each}
  </ul>
{/if}

<style>
  ul {
    list-style-type: none;
  }
</style>
