<script>
  import File from '$lib/ui/molecules/file/File.svelte';
  export let files = [];
</script>

<div class="files">
  {#each files as file}
    <File {...file} />
  {/each}
</div>

<style>
  .files {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>
