<script
  lang="ts"
  strictEvents
>
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

  export let href: string | undefined = undefined;
  export let blank = false;

  $: linkProps = href && blank ? { rel: 'noreferrer noopener', target: '_blank' } : {};
</script>

{#if href}
  <a
    {href}
    {...linkProps}
    {...$$restProps}
    on:mouseover
    on:mouseout
    on:blur
    on:focus
  >
    <slot />
  </a>
{:else}
  <div
    {...$$restProps}
    on:mouseover
    on:mouseout
    on:blur
    on:focus
  >
    <slot />
  </div>
{/if}

<style>
  a {
    font-size: inherit;
    line-height: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  a:active,
  a:focus {
    outline: none;
    outline-style: none;
  }
</style>
