<script lang="ts">
  import Loading from '$ui/atoms/loading/Loading.svelte';

  interface Props {
    loading?: boolean;
    children?: import('svelte').Snippet;
  }

  let { loading = false, children }: Props = $props();
</script>

<div class="container page mx-0 mx-sm-auto h-100 px-0 px-sm-2 pt-3">
  {#if loading}
    <Loading />
  {:else}
    {@render children?.()}
  {/if}
</div>

<style>
  .container {
    padding-bottom: 70px;
  }
</style>
