<script lang="ts">
  import Tome from '$ui/atoms/tome/Tome.svelte';
  import Novel from '$ui/organisms/novel/Novel.svelte';

  import type { Tome as TomeType } from '$ui/atoms/tome/type';
  import type { SagaNovel, Saga } from '$ui/types';
  import type { ComponentEventArgs } from '$lib/types';

  interface Props extends Omit<Saga, 'id'> {
    open?: boolean;
    renewAction?: string;
    id?: number;
    onTomeChange: (args: Saga) => void;
    onStatusChange: (args: Saga & { novel: SagaNovel }) => void;
  }

  let {
    tome = $bindable(),
    onStatusChange,
    onTomeChange,
    ...restProps
  }: Props = $props();
  let {
    title,
    volumes = [],
    novels = [],
    open = false,
    library,
    renewAction
  } = $derived(restProps);

  function handleTomeChange(detail: number | number) {
    const novel = novels.find((n) => n.sagaVolume === detail);
    if (novel && novel.sagaVolume) {
      tome = novel.sagaVolume;
      return;
    }
    // TODO find a way to type $$props
    onTomeChange({ ...restProps, tome: detail });
  }

  function handleStatusChange(
    detail: ComponentEventArgs<Novel, 'onStatusChange'>
  ) {
    onStatusChange({
      ...restProps,
      novel: detail as SagaNovel
    });
  }

  function getTomes({
    volumes,
    novels,
    tome
  }: {
    volumes: number[];
    novels: SagaNovel[];
    tome?: number;
  }): [TomeType[], SagaNovel] {
    const tomes: number[] = novels
      .filter((v) => v.status)
      .map((v: SagaNovel) => v.sagaVolume);

    if (!tome) {
      tome = tomes[0];
    }

    return [
      volumes.map((value) => ({
        value,
        active: value === tome,
        loaded: tomes.indexOf(value) >= 0
      })),
      novels.find((v) => v.sagaVolume === tome) as SagaNovel
    ];
  }

  const [tomes, novel] = $derived(getTomes({ volumes, novels, tome }));
</script>

<Novel
  {...novel}
  {library}
  {open}
  {renewAction}
  onStatusChange={handleStatusChange}
>
  <div class="d-flex align-items-center justify-content-between">
    <h5
      class="mb-0 flex-grow-1 mx-1"
      data-cy="organisms_saga-title"
    >
      {title}
    </h5>
    <div data-cy="organisms_saga-tomes">
      <!-- to used tom value need to clean duplicate tome value une database -->
      {#each tomes as tome, index (index)}
        <Tome
          {...tome}
          onClick={handleTomeChange}
        />
      {/each}
    </div>
  </div>
</Novel>
