<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import IconButton from '$lib/ui/atoms/icon-button/IconButton.svelte';
  import Feed from '$lib/ui/organisms/feed/Feed.svelte';
  import type { NewFeed } from '$lib/ui/organisms/feed/Feed.svelte';
  import type { Dispatcher } from '$lib/ui/types';
  import type { EditableFeed } from '$lib/types';

  interface $$Events {
    add: CustomEvent;
    spotifyConnect: CustomEvent;
  }
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  export let types: Array<{ label: string; value: string }> = [];
  export let feeds: (EditableFeed | NewFeed)[] = [];
  export let spotify: 'disabled' | 'active' | 'error' = 'disabled';

  function onEdit({ detail }: CustomEvent<EditableFeed | NewFeed>) {
    feeds = feeds.map((f) => ({ ...f, edit: 'id' in f && 'id' in detail && f.id === detail.id }));
  }

  function onAdd() {
    dispatch('add');
  }

  function handleSpotifyConnection() {
    dispatch('spotifyConnect');
  }

  $: canAdd = feeds.findIndex((f) => !('id' in f)) === -1;
  $: spotifyColor =
    spotify === 'disabled' ? 'secondary' : spotify === 'active' ? 'success' : 'warning';
</script>

<div
  class="d-flex justify-content-between mb-1"
  data-cy="page-form-feeds"
>
  <IconButton
    name="spotify"
    color={spotifyColor}
    medium
    on:click={handleSpotifyConnection}
  />

  <IconButton
    name="add"
    color="info"
    disabled={!canAdd}
    medium
    on:click={onAdd}
  />
</div>

{#each feeds as feed ('id' in feed ? feed.id : 'new')}
  <Feed
    {...feed}
    {types}
    on:save
    on:cancel
    on:edit={onEdit}
    on:preview
    on:follow
  />
{/each}
