<script lang="ts">
  import { enhance } from '$app/forms';
  import { goto } from '$app/navigation';
  import Register from '$lib/ui/pages/register/Register.svelte';
  import { URL_LOGIN } from '$lib/views/constants';

  import type { ActionResult } from '@sveltejs/kit';

  let loading = false;
  let errors: undefined | string;

  async function onSubmit() {
    loading = true;
    errors = undefined;
    return ({ result }: { result: ActionResult<Record<string, unknown>, { errors: string }> }) => {
      loading = false;
      if (result.type === 'success') {
        goto(URL_LOGIN);
        return;
      }

      if (result.type === 'failure' && result.data) {
        errors = result.data.errors;
        return;
      }
      errors = 'Sorry, this is not possible';
    };
  }
</script>

<form
  data-cy="form-register"
  method="POST"
  use:enhance={onSubmit}
>
  <Register
    {errors}
    {loading}
  />
</form>
