<script>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';

  import { getVideoPreviewLink } from './utils';

  export let link;
  let loaded = false;

  function onLoad() {
    loaded = true;
  }

  const preview = getVideoPreviewLink(link);
</script>

<div class="global-container">
  <div class="video-container">
    {#if preview}
      <iframe
        src={preview}
        frameborder="0"
        title
        on:load={onLoad}
        class:hidden={!loaded}
      />
    {/if}
    {#if !preview || !loaded}
      <Link
        href={link}
        target="_blank"
      >
        <div class="content d-flex justify-content-center align-items-center">
          <div class="bg" />
          {#if preview}
            <div
              class="spinner-border text-primary"
              class:hidden={loaded}
            >
              <span class="sr-only">Loading...</span>
            </div>
          {:else}
            <span>
              <Icon
                name="youtube"
                large
              />
            </span>
          {/if}
        </div>
      </Link>
    {/if}
  </div>
</div>

<style>
  .global-container {
    max-height: 460px;
  }

  .video-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
    width: 100%;
  }

  .video-container iframe,
  .video-container .content {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 450px;
    transform: translate(-50%, 0);
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
  }

  span {
    color: red;
  }

  .hidden {
    display: none;
  }
</style>
