<script>
  import { createEventDispatcher } from 'svelte';

  import BaseField from '$lib/ui/atoms/fields/base/BaseField.svelte';

  export let type = 'text';
  export let label;
  export let value = '';
  export let placeholder;
  export let error;
  export let small;
  export let right;
  export let name;
  let className = '';
  export { className as class };
  let timer;

  const dispatch = createEventDispatcher();

  function onChange({ target: { value } }) {
    clearTimeout(timer);
    timer = setTimeout(() => {
      dispatch('change', value);
    }, 500);
  }

  function getClass({ small, error, right }) {
    let classes = ['form-control'];

    if (small) {
      classes.push('form-control-sm');
    }

    if (error) {
      classes.push('is-invalid');
    }

    if (right) {
      classes.push('text-right');
    }

    return classes.join(' ');
  }

  $: props = {
    name,
    class: getClass({ small, error, right }),
    placeholder
  };
</script>

<BaseField
  {label}
  {error}
  class={className}
>
  {#if type === 'email'}
    <input
      type="email"
      bind:value
      {...props}
    />
  {:else if type === 'password'}
    <input
      type="password"
      bind:value
      {...props}
    />
  {:else if type === 'textarea'}
    <textarea
      bind:value
      {...props}
    />
  {:else}
    <input
      type="text"
      bind:value
      on:keyup={onChange}
      {...props}
    />
  {/if}
  <slot />
</BaseField>

<style>
  input {
    flex-grow: 1;
    width: 100%;
  }
</style>
