<script lang="ts">
  import Loading from '$ui/atoms/loading/Loading.svelte';

  import Stack from './Stack.svelte';

  import type { PageData } from './$types';

  let { data }: { data: PageData } = $props();
</script>

{#await data.stack}
  <div class="m-3">
    <Loading />
  </div>
{:then value}
  <Stack {...value} />
{/await}
