<script lang="ts">
  import Stack from '$ui/pages/stack/Stack.svelte';
  import { isSaga } from '$ui/types';
  import ajax from '$utils/ajax';
  import { URL_API_USER_STACK, URL_API_SAGA_VOLUME } from '$views/constants';
  import { menuFilter } from '$views/stores';

  import type { Library, Novel, Saga, SagaNovel } from '$ui/types';
  import type { ComponentEventArgs } from '$lib/types';


  interface Props {
    items?: Array<Novel | Saga>;
    libraries?: Library[];
  }

  let { items = $bindable([]), libraries = [] }: Props = $props();

  function replaceIndexInArray(
    index: number,
    value: Novel | Saga,
    arr: Array<Novel | Saga>
  ): Array<Novel | Saga> {
    return [...arr.slice(0, index), value, ...arr.slice(index + 1)];
  }

  function onTomeChange({
    tome,
    ...saga
  }: ComponentEventArgs<typeof Stack, 'onTomeChange'>) {
    const index = items.findIndex((s) => isSaga(s) && s.id == saga.id);

    ajax
      .get(
        URL_API_SAGA_VOLUME.replace('#ID#', `${saga.id}`).replace(
          '#TOME#',
          `${tome}`
        )
      )
      .then((r) => {
        items = replaceIndexInArray(
          index,
          {
            ...saga,
            tome,
            novels: [...saga.novels, r]
          },
          items
        );
      });
  }

  function findNovel(novel: Novel | Saga) {
    return (v: Novel | Saga): boolean => v.id === novel.id;
  }

  function setNovel(novel: Novel) {
    const index = items.findIndex(findNovel(novel));

    items[index] = novel;
  }

  function setSagaVolume(novel: SagaNovel) {
    let nIndex = 0;
    const index = items.findIndex((v) => {
      if (!isSaga(v)) {
        return false;
      }

      const result = v.novels.findIndex(findNovel(novel));
      if (result > -1) {
        nIndex = result;
        return true;
      }
      return false;
    });

    const saga = items[index] as Saga;
    const novels = [...saga.novels];
    novels[nIndex] = novel;

    items = replaceIndexInArray(
      index,
      { ...items[index], tome: novel.sagaVolume, novels },
      items
    );
  }

  function onStatusChange(
    detail: ComponentEventArgs<typeof Stack, 'onStatusChange'>
  ) {
    const novel: Novel | SagaNovel = isSaga(detail) ? detail.novel : detail;

    const action = novel.status ? 'put' : 'del';

    ajax[action](URL_API_USER_STACK, { novel }).then(() => {
      if (!novel.status) {
        delete novel.status;
      }

      if (!isSaga(detail)) {
        setNovel(detail);
      } else {
        setSagaVolume(detail.novel);
      }
    });
  }
</script>

<Stack
  {items}
  {libraries}
  open={$menuFilter}
  renewAction="?/renewLoan"
  {onTomeChange}
  {onStatusChange}
/>
