<script lang="ts">
  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';

  export let fullpath: string;
  export let name: string;
  export let type: string;
  export let updated: string | undefined = undefined;
  export let added = false;
</script>

<a
  href={fullpath}
  target="_blank"
  rel="noreferrer"
>
  <span>{name}.{type}</span>
  <p class="d-flex justify-content-around m-0">
    {#if added}
      <span class="mr-5">
        <Caption>new</Caption>
      </span>
    {/if}
    {#if updated}
      <LastUpdate value={updated} />
    {/if}
  </p>
</a>

<style>
  a {
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  a:hover {
    background-color: #eee;
  }

  a:hover span {
    text-decoration: underline;
  }
</style>
