<script lang="ts">
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import Button from '$lib/ui/atoms/button/Button.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import Default from '$lib/ui/templates/default/Default.svelte';

  export let errors: string | string[] | undefined;
  export let password = '';
  export let email = '';
  export let name = '';
  export let loading = false;
</script>

<Default>
  <div
    class="d-flex align-items-center flex-column"
    data-cy="form-register"
  >
    <h1 class="text-xs-center">Sign Up</h1>

    <Errors {errors} />

    <div class="d-flex align-items-center flex-column">
      <TextField
        name="name"
        type="text"
        placeholder="username"
        bind:value={name}
        required
      />

      <TextField
        name="email"
        type="email"
        placeholder="email"
        bind:value={email}
        required
      />

      <TextField
        name="password"
        type="password"
        placeholder="password"
        bind:value={password}
        required
      />

      <Button
        color="primary"
        {loading}
        disabled={!email || !name || !password}>Register</Button
      >
    </div>
  </div>
</Default>
