<script>
  import YoutubeLink from '$lib/ui/atoms/youtube-link/YoutubeLink.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import ListFiles from '$lib/ui/molecules/list-files/ListFiles.svelte';

  export let title;
  export let artist;
  export let link;
  export let level;
  export let category;
  export let updated;
  export let files;
</script>

<div class="text-center">
  <h1>{title} - {artist}</h1>

  <div class="tab-infos d-flex justify-content-between align-items-center mb-4">
    <span class="text-center">{category}</span>
    <span class="text-center">level: {level}</span>
    <LastUpdate value={updated} />
  </div>

  {#if link}
    <div>
      <YoutubeLink {link} />
    </div>
  {/if}

  {#if files}
    <div class="mx-auto col-md-8 col-lg-6">
      <ListFiles {files} />
    </div>
  {/if}
</div>
