<script
  lang="ts"
  strictEvents
>

  import { enhance } from '$app/forms';

  import Icon from '$ui/atoms/icon/Icon.svelte';
  import IconButton from '$ui/atoms/icon-button/IconButton.svelte';

  import type { Library, Loan, Color, LoanRenew } from '$ui/types';
  import type { ActionResult } from '@sveltejs/kit';

  interface Props {
    cannotRenewReason: string | undefined;
    isLate: boolean;
    isSoonLate: boolean;
    library: Library;
    renewData: LoanRenew;
    whenBack: string;
    renewAction?: string | undefined;
    idBook: number;
  }

  let {
    cannotRenewReason = $bindable(),
    isLate = $bindable(),
    isSoonLate = $bindable(),
    library,
    renewData,
    whenBack = $bindable(),
    renewAction = undefined,
    idBook
  }: Props = $props();

  let renewing = $state(false);

  type ColorClass = `text-${Color}`;

  function getStatusColor({
    isLate,
    isSoonLate
  }: {
    isLate: boolean;
    isSoonLate: boolean;
  }): ColorClass {
    if (isLate) {
      return 'text-danger';
    }

    return isSoonLate ? 'text-warning' : 'text-success';
  }

  function handleAction({ formData }: { formData: FormData }) {
    renewing = true;

    formData.set('HoldingId', renewData.HoldingId);
    formData.set('RecordId', renewData.RecordId);
    formData.set('Id', renewData.Id);
    formData.set('idBook', `${idBook}`);
    formData.set('idLibrary', `${library.id}`);

    return async ({
      result
    }: {
      result: ActionResult<{ loan: Loan & { details: string } }>;
    }) => {
      renewing = false;
      if (result.type === 'success' && result.data) {
        ({ isLate, isSoonLate, whenBack } = result.data.loan);
        ({ cannotRenewReason } = JSON.parse(result.data.loan.details));
      }
    };
  }

  let textColorClass = $derived(getStatusColor({ isLate, isSoonLate }));
  let color = $derived(textColorClass.replace(/^text-/, '') as Color);
  let returnDate = $derived(
    new Date(whenBack).toUTCString().replace(/ \d{2}:.+/, '')
  );
</script>

<div class="d-flex align-items-center">
  <div class="d-none d-sm-block">
    <div class={`d-flex flex-column align-items-end mr-2 ${textColorClass}`}>
      <span>{returnDate}</span>
      {#if cannotRenewReason}
        <span class="d-flex align-items-center text-danger">
          <Icon
            name="warning"
            class="mr-1"
            small
          />
          {cannotRenewReason}
        </span>
      {/if}
      <a
        class="site text-truncate"
        href={library.url}
        rel="noreferrer noopener"
        target="_blank"
      >
        {library.name}
      </a>
    </div>
  </div>
  {#if cannotRenewReason || renewAction === undefined}
    <Icon
      name="time"
      class={textColorClass}
      disabled
    />
  {:else}
    <form
      action={renewAction}
      method="POST"
      use:enhance={handleAction}
    >
      <IconButton
        name="time"
        {color}
        loading={renewing}
        type="submit"
        on:click={(e) => e.stopPropagation()}
      />
    </form>
  {/if}
</div>
