<script lang="ts">
  import NavbarContainer from '$ui/atoms/containers/navbar/NavbarContainer.svelte';
  import NavItem from '$ui/atoms/nav-item/NavItem.svelte';
  import SelectField from '$ui/atoms/fields/select/SelectField.svelte';
  import CheckboxField from '$ui/atoms/fields/checkbox/CheckboxField.svelte';
  import { STATUSES } from '$ui/molecules/novel-status-list/utils';
  import SearchField from '$ui/molecules/search-field/SearchField.svelte';

  import type { NovelStatus, Option } from '$ui/types';
  import type { ComponentProps } from 'svelte';

  interface Props extends Pick<ComponentProps<typeof SearchField>, 'onSearch'> {
    library?: string | number;
    libraries: Option[];
    status?: NovelStatus[];
    open?: boolean;
    class?: string;
  }
  let {
    library = $bindable(''),
    libraries,
    status = $bindable([]),
    open = false,
    onSearch,
    class: classProp = ''
  }: Props = $props();

  function toggleFilter() {
    open = !open;
  }

  function handleStatusChange({
    detail
  }: {
    detail: { value: NovelStatus; checked: boolean };
  }) {
    const { value, checked } = detail;
    const index = status.indexOf(value);
    if (checked) {
      status = [...status, value];
    } else {
      const tmp = [...status];
      tmp.splice(index, 1);
      status = [...tmp];
    }
  }

  function handleClearLibrary() {
    library = '';
  }

  function removeStatus(value: NovelStatus) {
    return () => {
      handleStatusChange({ detail: { value, checked: false } });
    };
  }

  const statusFilters = $derived(
    STATUSES.filter((s) => status.includes(s.value)).map(
      ({ icon, color, value }) => ({ icon, color, click: removeStatus(value) })
    )
  );
</script>

<div class="bg-dark">
  {#if open}
    <SearchField
      class="m-1 flex-grow-1"
      {onSearch}
    />

    <SelectField
      class="m-1"
      items={libraries}
      placeholder="choose a library..."
      bind:value={library}
    />

    <div class="m-2 d-flex justify-content-around">
      {#each STATUSES as { label, value } (value)}
        <CheckboxField
          id={`stack-filter_${value}`}
          checked={status.includes(value)}
          {label}
          {value}
          on:change={handleStatusChange}
        />
      {/each}
    </div>
  {/if}

  <NavbarContainer
    class={`${classProp} border-light ${open ? 'border-top' : ''}`}
    reverse
  >
    <NavItem
      icon="funnel"
      onClick={toggleFilter}
    />

    {#if library}
      <ul class="d-flex navbar-nav flex-grow-1">
        <NavItem
          icon="pin"
          onClick={handleClearLibrary}
        />
      </ul>
    {/if}
    <ul class="d-flex navbar-nav flex-row flex-grow-1">
      {#each statusFilters as { click, ...restFilter } (restFilter.icon)}
        <NavItem
          {...restFilter}
          onClick={click}
        />
      {/each}
    </ul>
  </NavbarContainer>
</div>
