<script lang="ts">
  import Novel from '$ui/organisms/novel/Novel.svelte';
  import Saga from '$ui/organisms/saga/Saga.svelte';
  import StackFilter from '$ui/organisms/stack-filter/StackFilter.svelte';
  import Default from '$ui/templates/default/Default.svelte';
  import { isSaga } from '$ui/types';

  import { getItems } from './getItems';

  import type { Library, NovelStatus, Option } from '$ui/types';
  import type { ComponentEventArgs } from '$lib/types';
  import type { ComponentProps } from 'svelte';
  import type { Item } from './getItems';


  interface Props
    extends Pick<ComponentProps<typeof Novel>, 'onStatusChange'>,
      Pick<ComponentProps<typeof Saga>, 'onTomeChange'> {
    items?: Item[];
    libraries?: Library[];
    open?: boolean;
    loading?: boolean;
    status?: NovelStatus[];
    renewAction?: string | undefined;
  }

  let {
    items: rawItems = [],
    libraries = [],
    open = false,
    loading = false,
    status = $bindable([]),
    onStatusChange,
    renewAction = undefined,
    onTomeChange
  }: Props = $props();
  let search: string | undefined = $state(undefined);
  let libraryValue: '' | number | undefined = $state('');
  let library = $derived(libraryValue !== '' ? libraryValue : undefined);

  function onSearch(
    detail: ComponentEventArgs<typeof StackFilter, 'onSearch'>
  ) {
    search = detail;
  }

  let filterLibraries = $derived(
    libraries.map((v) => ({
      value: v.id,
      label: v.name
    })) satisfies Option[]
  );

  let items = $derived(
    getItems({
      items: rawItems,
      search,
      library,
      status
    })
  );
</script>

<Default {loading}>
  <div data-cy="stack-content">
    {#if items.length}
      <div class="text-right">
        <p>{items.length} items</p>
      </div>
      {#each items as item (isSaga(item) ? `saga-${item.id}-${item.tome ?? 0}` : `novel-${item.id}`)}
        <div class="my-2">
          {#if isSaga(item)}
            <Saga
              {...item}
              {library}
              {renewAction}
              {onTomeChange}
              {onStatusChange}
            />
          {:else}
            <Novel
              {...item}
              {library}
              {renewAction}
              {onStatusChange}
            />
          {/if}
        </div>
      {/each}
    {:else}
      <div class="text-center">nothing to display</div>
    {/if}
  </div>

  <!-- TODO add a footer bar -->
</Default>

<div class="fixed-bottom bg-dark">
  <StackFilter
    libraries={filterLibraries}
    {open}
    bind:library={libraryValue}
    bind:status
    {onSearch}
  />
</div>
