<script lang="ts">
  import IconButton from '$ui/atoms/icon-button/IconButton.svelte';
  import DropdownItem from '$ui/atoms/dropdown-item/DropdownItem.svelte';
  import NovelStatusList from '$ui/molecules/novel-status-list/NovelStatusList.svelte';

  import { getValueItem } from './getValueItem';

  interface Props {
    value?: string | undefined;
    open?: boolean;
    loading?: boolean;
    canRemove?: boolean;
    onChange: (args?: string) => void;
  }

  let {
    value = undefined,
    open = $bindable(false),
    loading = false,
    canRemove = false,
    onChange
  }: Props = $props();

  function toggle() {
    open = !open;
  }

  function onClose() {
    open = false;
  }

  function onStatusSelect(detail: string) {
    onChange(detail);
    onClose();
  }

  function onRemove() {
    onChange(undefined);
    onClose();
  }

  let item = $derived(getValueItem(value));
</script>

<svelte:window onclick={onClose} />

<div
  class="novel-status"
  data-cy="molecules_novelStatus"
  data-value={value}
>
  <div class:invisible={open}>
    <IconButton
      name={item.icon}
      color={item.color}
      {loading}
      on:click={toggle}
    />
  </div>
  {#if open}
    <div class="action">
      <NovelStatusList
        values={value ? [value] : []}
        onClick={onStatusSelect}
      >
        {#if canRemove}
          <DropdownItem
            color="danger"
            icon="delCircle"
            label="remove"
            onClick={onRemove}
          />
        {/if}
      </NovelStatusList>
    </div>
  {/if}
</div>

<style>
  .novel-status {
    position: relative;
  }

  .action {
    position: absolute;
    top: -40px;
    right: 0px;
  }
</style>
