<script lang="ts">
  import { enhance } from '$app/forms';
  import { goto, invalidateAll } from '$app/navigation';
  import { page } from '$app/stores';
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  import type { ActionResult } from '@sveltejs/kit';

  let errors: Record<string, string> | undefined;

  async function onSubmit() {
    return async ({ result }: { result: ActionResult }) => {
      if (result.type !== 'success') {
        errors = { Sorry: 'this is not possible' };
        return;
      }
      await invalidateAll();
      goto('/auth/login');
    };
  }
</script>

<svelte:head>
  <title>Settings</title>
</svelte:head>

<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <TextField
          type="text"
          label="email"
          value={$page.data.session.email}
        />
        <TextField
          type="text"
          label="name"
          value={$page.data.session.name}
        />

        <hr />

        <form
          method="POST"
          use:enhance={onSubmit}
        >
          <button class="btn btn-outline-danger"> click here to logout. </button>

          {#if errors}
            <Errors {errors} />
          {/if}
        </form>
      </div>
    </div>
  </div>
</div>
