<script
  lang="ts"
  strictEvents
>
  import { enhance } from '$app/forms';
  import { goto, invalidateAll } from '$app/navigation';
  import { page } from '$app/state';

  import Button from '$ui/atoms/button/Button.svelte';
  import Me from '$ui/pages/me/Me.svelte';
  import ajax from '$utils/ajax';
  import {
    URL_API_USER_IMPORT,
    URL_API_USER,
    URL_LOGIN
  } from '$views/constants';




  import type { ActionResult } from '@sveltejs/kit';

  const user = page.data.session;
  let importing = $state(false);
  let saving = $state(false);
  let errors: string | undefined = $state();
  let loading = $state(false);

  function onImport({ detail }) {
    importing = true;
    ajax
      .post(URL_API_USER_IMPORT, { ...page.data.session, ...detail })
      .then(({ nbNovels }) => {
        alert(`${nbNovels} novel imported`);
      })
      .catch(({ message }) => alert(message))
      .finally(() => {
        importing = false;
      });
  }

  function onSave({ detail }) {
    const newUser = { ...user, ...detail };
    ajax
      .put(URL_API_USER, newUser)
      .then(() => {
        saving = false;
        // TODO pretty sure this is not working
        // page.data.session = newUser;
      })
      .catch((res) => {
        errors = res;
        saving = false;
      });
  }

  async function onLogout() {
    loading = true;
    return async ({ result }: { result: ActionResult }) => {
      loading = false;
      if (result.type !== 'success') {
        errors = 'Sorry, this is not possible';
        return;
      }
      await invalidateAll();
      goto(URL_LOGIN);
    };
  }
</script>

<Me
  on:import={onImport}
  on:save={onSave}
  {...user}
  {importing}
  {saving}
  {errors}
>
  <div class="text-center">
    <form
      method="POST"
      use:enhance={onLogout}
    >
      <Button
        type="submit"
        class="m-auto"
        color="danger"
        cyId="me-form_actions_logout"
        {loading}
        on:click={onLogout}
      >
        logout
      </Button>
    </form>
  </div>
</Me>
