<script lang="ts">
  import Icon from '$ui/atoms/icon/Icon.svelte';

  interface Props {
    isbn?: string;
    thumb?: string | undefined;
  }

  let { isbn = '', thumb = $bindable(undefined) }: Props = $props();

  let isbnFailed = $state(false);
  let loading = $state(true);

  function handleError() {
    if (thumb) {
      thumb = undefined;
      return;
    }

    isbnFailed = true;
  }

  // TODO move this function in another package
  function getIsbndbUrl(isbn: string) {
    const regIsbnbd = /(\d{2})(\d{2})$/;
    if (!regIsbnbd.test(isbn)) {
      return undefined;
    }

    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    const [_, one, two] = isbn.match(regIsbnbd) as string[];
    return `https://images.isbndb.com/covers/${one}/${two}/${isbn}.jpg`;
  }

  function handleLoad() {
    loading = false;
  }

  let isbnUrl = $derived(
    isbnFailed === false
      ? `https://pictures.abebooks.com/isbn/${isbn}.jpg`
      : undefined
  );
  let isbndbUrl = $derived(getIsbndbUrl(isbn));

  let src = $derived(thumb || isbnUrl || isbndbUrl);
</script>

<span
  class="d-flex flex-column align-items-center justify-content-center border rounded border-dark"
  class:loaded={loading || !src}
>
  {#if loading}
    <Icon
      name="images"
      disabled
      large
    />
  {/if}
  {#if src}
    <img
      class:d-none={loading}
      alt={isbn}
      {src}
      onload={handleLoad}
      onerror={handleError}
    />
  {/if}
</span>

<style>
  span.d-flex {
    width: 100%;
    height: 100%;
    background-color: var(--gray-dark);
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
  }

  span.loaded {
    opacity: 0.5;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  span > :global(span) {
    width: 50% !important;
    height: 50% !important;
  }
</style>
