<script lang="ts">
  import { createBubbler } from 'svelte/legacy';

  const bubble = createBubbler();
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Events {
    click: CustomEvent;
  }

  interface Props {
    dataCy?: string | undefined;
    children?: import('svelte').Snippet;
  }

  let { dataCy = undefined, children }: Props = $props();
</script>

<div
  class="list-group-item list-group-item-action p-0 rounded"
  aria-hidden="true"
  data-cy={dataCy}
  onclick={bubble('click')}
>
  {@render children?.()}
</div>

<style>
  .list-group-item {
    cursor: pointer;
  }

  .list-group-item:active {
    background-color: var(--dark);
  }
</style>
