<script lang="ts">
  import Icon from '$ui/atoms/icon/Icon.svelte';

  interface Props {
    edition?: string;
    url: string;
    active?: boolean;
    available?: boolean;
    onClick?: () => void;
  }

  let {
    edition = 'holdings',
    url,
    active = false,
    available = false,
    onClick
  }: Props = $props();

  const handleClick = $derived(
    onClick
      ? (e: MouseEvent) => {
          e.stopPropagation();
          onClick();
        }
      : undefined
  );

  function onStopPropagation(e: MouseEvent) {
    e.stopPropagation();
  }
</script>

<div
  class="list-group-item flex-grow-1 book"
  class:active
  class:available
  aria-hidden="true"
  onclick={handleClick}
>
  <span>{edition}</span>
  <a
    href={url}
    rel="noreferrer noopener"
    target="_blank"
    onclick={onStopPropagation}
  >
    <Icon name="link" />
  </a>
</div>

<style>
  .book {
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-bottom: 0;
    opacity: 0.7;
    padding: 5px 10px;
    border-radius: 0;
  }

  .book:first-child {
    border-left: 0;
  }

  .book:last-child {
    border-right: 0;
  }

  .book.active,
  .book:hover {
    border-color: var(--info);
    color: var(--info);
    opacity: 1;
  }

  .book.available {
    border-color: var(--success);
    color: var(--success);
    opacity: 1;
  }

  .book span {
    flex-grow: 1;
    text-align: center;
  }
</style>
