<script>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import { getPreviewImage } from '$lib/ui/atoms/youtube-link/utils';

  export let youtube;
  export let file;

  $: previewYt = youtube ? getPreviewImage(youtube) : null;

  export let medium = false;
</script>

<div
  class="details d-flex align-items-end flex-row"
  class:medium
>
  <div class="youtube">
    {#if previewYt}
      <div class="preview">
        <img
          src={previewYt}
          alt="preview"
          class="w-100"
        />
      </div>
    {/if}
    {#if youtube}
      <a
        href={youtube}
        target="_blank"
        class="youtube text-secondary btn btn-link btn-sm"
      >
        <Icon
          type="logo"
          name="youtube"
          {medium}
        />
      </a>
    {/if}
  </div>
  <div>
    {#if file}
      <a
        href={file}
        target="_blank"
        class="btn-link text-secondary btn btn-sm"
      >
        <Icon
          name="attach"
          {medium}
        />
      </a>
    {/if}
  </div>
</div>

<style>
  .youtube:hover {
    color: red !important;
  }

  .details > div {
    width: 30px;
  }

  .medium a.btn {
    padding: 5px;
    border: 0;
    margin-right: 5px;
    width: 30px;
  }

  a.btn {
    padding: 0 5px;
  }

  .youtube {
    position: relative;
  }

  .preview {
    position: absolute;
    display: none;
    top: -5px;
    left: -45px;
    width: 45px;
  }

  .medium .preview {
    top: 0;
  }

  .youtube:hover .preview {
    display: block;
  }
</style>
