<script lang="ts">
  import omit from 'lodash/omit.js';

  import { goto } from '$app/navigation';
  import ajax from '$lib/utils/ajax.js';
  import {
    URL_API_SPOTIFY,
    URL_API_USER_FEEDS,
    URL_API_USER_FEED_PREVIEW
  } from '$lib/views/constants';
  import Feeds from '$lib/ui/pages/feeds/Feeds.svelte';
  import type { EditableFeed } from '$lib/types';

  type NewFeed = {
    name: string;
    edit: boolean;
    types: Array<{ label: string; value: string }>;
    loading?: boolean;
  };

  export let feeds: (EditableFeed | NewFeed)[];
  export let types: string[];
  export let spotify = false;

  function getFeedIndex(detail: EditableFeed): [number, EditableFeed] {
    return [
      feeds.findIndex((f) => 'id' in f && f?.id === detail.id),
      { ...omit<EditableFeed, 'errors' | 'articles'>(detail, ['errors', 'articles']) }
    ];
  }

  function onCancel({ detail }: CustomEvent<EditableFeed>) {
    if (!detail?.id) {
      feeds = feeds.slice(1);
      return;
    }

    const [index, feed] = getFeedIndex(detail);
    feeds[index] = {
      ...feed,
      edit: false,
      errors: undefined
    };
  }

  $: typesOptions = types.map((label) => ({ label, value: label }));

  async function onAdd() {
    feeds = [
      // should add types here if not open form failed
      { name: '', edit: true, types: typesOptions },
      ...feeds.map((f) => ({ ...f, edit: false }))
    ];
  }

  function handleSpotifyConnect() {
    goto(URL_API_SPOTIFY);
  }

  function onSave({ detail }: CustomEvent<EditableFeed>) {
    const [index, feed] = getFeedIndex(detail);
    feeds[index] = {
      ...feed,
      loading: true
    };

    const action = feed.id ? 'put' : 'post';
    ajax[action](URL_API_USER_FEEDS, feed)
      .then((r) => {
        feeds[index] = {
          ...feed,
          edit: false,
          ...r
        };
      })
      .catch((errors) => {
        feeds[index] = {
          ...feed,
          edit: true,
          loading: false,
          errors
        };
      });
  }

  function onPreview({ detail }: CustomEvent<EditableFeed>) {
    const [index, feed] = getFeedIndex(detail);
    feeds[index] = {
      ...feed,
      loadingPreview: true
    };

    ajax
      .post(URL_API_USER_FEED_PREVIEW, feed)
      .then((articles) => {
        feeds[index] = {
          ...feed,
          articles,
          edit: true,
          loadingPreview: false
        };
      })
      .catch((errors) => {
        feeds[index] = {
          ...feed,
          edit: true,
          loadingPreview: false,
          errors
        };
      });
  }
</script>

<Feeds
  {feeds}
  spotify={spotify === true ? 'active' : 'disabled'}
  types={typesOptions}
  on:preview={onPreview}
  on:save={onSave}
  on:follow={onSave}
  on:add={onAdd}
  on:cancel={onCancel}
  on:spotifyConnect={handleSpotifyConnect}
/>
