<script lang="ts">
  import { icons } from './constants';
  import Icon from './Icon.svelte';

  const items = Object.keys(icons);
  items.sort();

  let search = $state('');
</script>

<input
  placeholder="filter..."
  type="text"
  bind:value={search}
/>

<div class="d-flex flex-wrap">
  {#each items as name (name)}
    <div
      class="sample"
      class:d-none={search && name.indexOf(search) < 0}
    >
      <Icon
        {name}
        medium
      />
      <small>{name}</small>
    </div>
  {/each}
  <div
    class="sample"
    class:d-none={search && 'not found'.indexOf(search) < 0}
  >
    <Icon medium />
    <small>not found</small>
  </div>
</div>

<style>
  .sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    min-width: 120px;
  }
</style>
