<script lang="ts">
  import { icons, isIconName } from './constants';

  interface Props {
    name?: string;
    medium?: boolean;
    large?: boolean;
    small?: boolean;
    disabled?: boolean;
    class?: string;
    title?: string;
  }

  const {
    name = '',
    medium = false,
    large = false,
    disabled = false,
    small = false,
    class: classProp = '',
    title
  }: Props = $props();

  let IconComponent = $derived(isIconName(name) ? icons[name] : icons['help']);
</script>

<span
  class={`d-flex align-items-center ${classProp}`}
  class:hover={!disabled}
  class:lg={large}
  class:md={medium}
  class:xs={small}
  {title}
>
  <IconComponent />
</span>

<style>
  span {
    opacity: 0.75;
    display: block;
    width: 20px;
    height: 20px;
  }

  span.hover:hover {
    opacity: 1;
  }

  .xs {
    width: 15px;
    height: 15px;
  }

  .md {
    width: 30px;
    height: 30px;
  }

  .lg {
    width: 50px;
    height: 50px;
  }
</style>
