<script lang="ts">
  import Search from './Search.svelte';

  import type { PageData } from './$types';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
</script>

<Search {...data} />
