<script lang="ts">
  import { onMount } from 'svelte';

  import { goto } from '$app/navigation';

  import Search from '$ui/pages/search/Search.svelte';
  import { isSagaNovel } from '$ui/types';
  import ajax from '$utils/ajax';
  import { menuFilter } from '$views/stores';
  import {
    URL_LOGIN,
    URL_API_USER_STACK,
    URL_SEARCH,
    URL_SEARCH_QUERY,
    URL_API_SEARCH
  } from '$views/constants';

  import type { Novel, Saga, SagaNovel } from '$ui/types';
  import type { ComponentEventArgs } from '$lib/types';

  interface Props {
    search?: string | undefined;
    logged?: boolean;
  }

  let { search = '', logged = false }: Props = $props();
  let items: Array<Novel | Saga> = $state([]);
  let loading = $state(false);
  let followed: boolean | undefined = $state();
  let searchError: string | undefined = $state(undefined);

  function onSearchFollowed() {
    followed = true;
  }

  function onSearchUnfollowed() {
    followed = false;
  }

  function findNovel(novel: Novel) {
    return (v: Novel | Saga) => !('volumes' in v) && v.id === novel.id;
  }

  function setNovel(novel: Novel & { added?: boolean }) {
    const index = items.findIndex(findNovel(novel));

    items[index] = novel;
  }

  function setSagaVolume(novel: SagaNovel & { added?: boolean }) {
    let nIndex;
    const index = items.findIndex((v) => {
      if (!('volumes' in v)) {
        return false;
      }

      const result = v.novels.findIndex(findNovel(novel));
      if (result > -1) {
        nIndex = result;
        return true;
      }
      return false;
    });

    const sagaNovel = items[index] as Saga;

    const novels = [...sagaNovel.novels];
    if (nIndex) {
      novels[nIndex] = novel;
    }

    items[index] = {
      ...items[index],
      tome: novel.sagaVolume,
      novels
    };
  }

  function onStatusChange(
    detail: ComponentEventArgs<typeof Search, 'onStatusChange'>
  ) {
    if (logged !== true) {
      const redirectUrl = encodeURIComponent(`${URL_SEARCH}?s=${search}`);
      goto(`${URL_LOGIN}?r=${redirectUrl}`);
      return;
    }

    const novel: Novel | SagaNovel =
      'volumes' in detail ? detail.novel : detail;
    // novel.status => new status value
    const action = novel.status ? 'post' : 'del';

    if (isSagaNovel(novel)) {
      setSagaVolume({ ...novel, loading: true });
    } else {
      setNovel({ ...novel, loading: true });
    }

    ajax[action](URL_API_USER_STACK, { novel }).then(({ error }) => {
      if (error) {
        alert('sorry something failed');
      }

      if ('sagaVolume' in novel) {
        setSagaVolume({ ...novel, loading: false, added: true });
      } else {
        setNovel({ ...novel, added: true, loading: false });
      }
    });
  }

  async function onSearch(
    detail: ComponentEventArgs<typeof Search, 'onSearch'>
  ) {
    if (!detail || !detail.length) {
      goto(URL_SEARCH);
      items = [];
      return;
    }
    loading = true;
    searchError = undefined;
    goto(URL_SEARCH_QUERY.replace('#QUERY#', detail));
    try {
      ({ items, followed } = await ajax.post(URL_API_SEARCH, {
        search: detail
      }));
    } catch (e) {
      console.error(e);
      searchError =
        e instanceof Error ? e.message : 'Iups something went wrong';
      loading = false;
    }

    loading = false;
  }

  onMount(() => {
    menuFilter.set(true);
    if (search) {
      onSearch(search);
    }
    return () => menuFilter.set(false);
  });
</script>

{#if searchError}
  <div class="mt-3 text-center text-danger">{searchError}</div>
{/if}
<Search
  {items}
  {followed}
  {loading}
  open={$menuFilter}
  {search}
  {onStatusChange}
  {onSearch}
  {onSearchFollowed}
  {onSearchUnfollowed}
/>
