<script>
  let className = '';
  export { className as class };
  export let label;
  export let error;
  export let id;
</script>

<div class={`${className} form-group`}>
  {#if label}
    <label
      class="w-100"
      for={id}>{@html label}</label
    >
  {/if}
  <slot />
  {#if error}
    <div class="invalid-feedback">{error}</div>
  {/if}
</div>

<style>
  .invalid-feedback {
    display: block;
  }
</style>
