<script lang="ts">
  import ImgIsbn from '$ui/atoms/img-isbn/ImgIsbn.svelte';

  import type { Saga } from '$ui/types';

  type NovelHeaderSaga = Saga & {
    // TODO find where this fucking href is added
    href?: string;
  };

  interface Props {
    author?: string;
    isbn: string;
    saga?: NovelHeaderSaga;
    title: string;
    thumb?: string;
    class?: string;
    onSagaClick?: () => void;
  }
  let {
    author = '',
    isbn,
    saga,
    title,
    thumb,
    class: classProp,
    onSagaClick
  }: Props = $props();

  function handleSagaClick(e: MouseEvent) {
    e.stopPropagation();
    onSagaClick?.();
  }
</script>

<div class={`d-flex align-items-center overflow-hidden ${classProp}`}>
  <div class="img mr-2 flex-shrink-0">
    <ImgIsbn
      {isbn}
      {thumb}
    />
  </div>
  <div
    class="d-flex align-items-md-center flex-wrap d-md-block overflow-hidden"
  >
    <h6 class="mb-0 d-flex flex-wrap overflow-hidden">
      {#if saga}
        <div class="d-flex mr-1 flex-shrink-0">
          <a
            class="mr-1"
            href={saga.href}
            onclick={handleSagaClick}
          >
            {saga.title}
          </a>
          <span class="text-nowrap">
            #{saga.tome}
          </span>
        </div>
      {/if}
      <span
        class="text-truncate"
        data-cy="molecules_novel-header_title"
      >
        {title}
      </span>
    </h6>
    <span class="details text-muted ml-1 d-lg-block">
      {#if author}
        <small class="text-nowrap">{author}</small>
      {/if}
    </span>
  </div>
</div>

<style>
  .img {
    width: 30px;
    height: 50px;
    flex-shrink: 1;
  }

  .details,
  .details > * {
    line-height: 1.2;
  }
</style>
