<script>
  import FaSpotify from 'svelte-icons/fa/FaSpotify.svelte';
  import IoIosHelp from 'svelte-icons/io/IoIosHelp.svelte';
  import IoIosMailUnread from 'svelte-icons/io/IoIosMailUnread.svelte';
  import IoLogoRss from 'svelte-icons/io/IoLogoRss.svelte';
  import IoLogoYoutube from 'svelte-icons/io/IoLogoYoutube.svelte';
  import IoMdAdd from 'svelte-icons/io/IoMdAdd.svelte';
  import IoMdArrowDropdown from 'svelte-icons/io/IoMdArrowDropdown.svelte';
  import IoMdArrowDropup from 'svelte-icons/io/IoMdArrowDropup.svelte';
  import IoMdCheckmarkCircleOutline from 'svelte-icons/io/IoMdCheckmarkCircleOutline.svelte';
  import IoMdContact from 'svelte-icons/io/IoMdContact.svelte';
  import IoMdEye from 'svelte-icons/io/IoMdEye.svelte';
  import IoMdEyeOff from 'svelte-icons/io/IoMdEyeOff.svelte';
  import IoMdImages from 'svelte-icons/io/IoMdImages.svelte';
  import IoMdLink from 'svelte-icons/io/IoMdLink.svelte';

  export const icons = {
    add: IoMdAdd,
    arrowDown: IoMdArrowDropdown,
    arrowUp: IoMdArrowDropup,
    contact: IoMdContact,
    follow: IoMdEye,
    images: IoMdImages,
    link: IoMdLink,
    read: IoMdCheckmarkCircleOutline,
    rss: IoLogoRss,
    spotify: FaSpotify,
    unfollow: IoMdEyeOff,
    unread: IoIosMailUnread,
    youtube: IoLogoYoutube
  };

  export let name = '';
  export let medium = false;
  export let large = false;
  export let noHover = false;
</script>

<span
  class="d-flex align-items-center"
  class:lg={large}
  class:md={medium}
  class:hover={!noHover}
>
  {#if icons[name]}
    <svelte:component this={icons[name]} />
  {:else}
    <IoIosHelp />
  {/if}
</span>

<style>
  span {
    opacity: 0.75;
    display: block;
    width: 20px;
    height: 20px;
  }

  span.hover:hover {
    opacity: 1;
  }

  .md {
    width: 30px;
    height: 30px;
  }

  .lg {
    width: 50px;
    height: 50px;
  }
</style>
