<script>
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  export let links = [];
  export let path;
</script>

<div class="navbar navbar-expand fixed-top navbar-dark bg-dark d-flex justify-content-between">
  <a
    class="navbar-brand"
    href="/">Home</a
  >

  <ul class="navbar-nav d-flex">
    {#each links as link}
      <li
        class="nav-item"
        class:active={path === link.href}
      >
        <a
          class="nav-link d-flex align-items-center"
          class:flex-row-reverse={link.reverse}
          href={link.href}
        >
          {#if link.icon}
            <Icon
              name={link.icon}
              noHover
            />
          {/if}
          <span>{link.label}</span>
        </a>
      </li>
    {/each}
  </ul>
</div>

<style>
  .nav-item {
    white-space: nowrap;
  }

  .nav-link > span {
    margin-left: 2px;
  }

  .nav-link.flex-row-reverse > span {
    margin-left: 0px;
    margin-right: 5px;
  }
</style>
