<script
  lang="ts"
  strictEvents
>
  import Errors from '$ui/atoms/errors/Errors.svelte';
  import Button from '$ui/atoms/button/Button.svelte';
  import Default from '$ui/templates/default/Default.svelte';

  interface Props {
    loading?: boolean;
    errors?: string | undefined;
    password?: string;
    login?: string;
  }

  let {
    loading = false,
    errors = undefined,
    password = $bindable(''),
    login = $bindable('')
  }: Props = $props();

  let disabled = $derived(!login || !password ? true : false);
</script>

<Default>
  <div class="d-flex align-items-center flex-column">
    <div class="form-group">
      <input
        name="login"
        class="form-control"
        placeholder="email or username"
        type="text"
        bind:value={login}
      />
    </div>
    <div class="form-group">
      <input
        name="password"
        class="form-control"
        placeholder="password"
        type="password"
        bind:value={password}
      />
    </div>

    {#if errors}
      <Errors {errors} />
    {/if}

    <Button
      color="primary"
      {disabled}
      {loading}
      type="submit">Log In</Button
    >
  </div>
</Default>
