<script>
  import IconButton from './IconButton';

  const colors = ['primary', 'secondary', 'danger', 'warning'];
  const icons = ['basket', 'time'];
  const sizes = [{ large: true }, { medium: true }, {}];
</script>

<div class="d-flex">
  {#each colors as color, index}
    <div class="icons d-flex flex-column align-items-center">
      {#each sizes as size}
        <IconButton
          name={icons[index % 2]}
          {color}
          {...size}
          class="m-2"
        />
      {/each}
    </div>
  {/each}
</div>
