<script
  lang="ts"
  strictEvents
>
  import { createEventDispatcher } from 'svelte';

  import Icon from '$ui/atoms/icon/Icon.svelte';
  import Loading from '$ui/atoms/loading/Loading.svelte';

  import type { Color, Dispatcher } from '$ui/types';

   

  interface Props {
    color?: Color;
    name: string;
    medium?: boolean;
    large?: boolean;
    loading?: boolean;
    class?: string;
    type?: 'button' | 'submit';
    [key: string]: any;
  }

  let {
    color = 'primary',
    name,
    medium = false,
    large = false,
    loading = false,
    type = 'button',
    ...rest
  }: Props = $props();

  interface $$Events {
    click: CustomEvent;
  }

  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  function handleClick(e: MouseEvent) {
    if (type !== 'submit') {
      e.stopPropagation();
    }
    dispatch('click');
  }

  const btnClsColor: Record<Color, string> = {
    primary: 'btn-outline-primary',
    secondary: 'btn-outline-secondary',
    danger: 'btn-outline-danger',
    warning: 'btn-outline-warning',
    success: 'btn-outline-success',
    info: 'btn-outline-info'
  };

  let btnColorClass = $derived(btnClsColor[color]);
</script>

{#if loading}
  <Loading
    border
    {color}
    {large}
    {medium}
  />
{:else}
  <button
    class={`btn ${btnColorClass} p-1 ${rest.class ?? ''}`}
    {type}
    onclick={handleClick}
  >
    <Icon
      {name}
      {large}
      {medium}
    />
  </button>
{/if}

<style>
  button {
    border-radius: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.btn-outline-warning:hover {
    color: white !important;
  }
</style>
