<script>
  import { page } from '$app/stores';
  import Navbar from '$lib/ui/organisms/navbar/Navbar.svelte';

  const appIcon = '/logo-512.png';

  function getLinks(user) {
    const links = [
      { href: '/', label: 'chord generator' },
      { href: '/tab', label: 'tabs' }
    ];

    if (user) {
      links.push({ href: '/user', label: user.name, icon: 'contact' });
    } else {
      links.push({ href: '/auth/login', label: 'sign in' });
    }

    return links;
  }

  $: links = getLinks($page.data.session?.id ? $page.data.session : undefined);
</script>

<Navbar
  {links}
  path={$page.url.pathname}
  {appIcon}
/>

<main>
  <div class="container page">
    <slot />
  </div>
</main>

<style>
  main {
    margin-top: 2em;
  }
</style>
