<script>
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';
  import debounce from 'lodash/debounce';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';

  const dispatch = createEventDispatcher();

  export let placeholder;
  export let caption;
  export let sorts;
  export let sort;
  let search = '';

  function onChange() {
    dispatch('search', search);
  }

  function onSort() {
    dispatch('sort', sort);
  }

  const handleChange = debounce(onChange, 500);
</script>

<div class="form-group mb-1">
  <input
    name="search"
    type="text"
    class="form-control"
    bind:value={search}
    {placeholder}
    on:keydown={handleChange}
  />
</div>

<div class="d-flex justify-content-between px-2 align-items-baseline">
  {#if caption}
    <Caption>
      {caption}
    </Caption>
  {/if}

  {#if sorts && sorts.length}
    <div class="form-group row flex-grow-1 d-flex justify-content-end m-0 align-items-baseline">
      <Caption>{$_('common.sortBy')}</Caption>
      <select
        bind:value={sort}
        class="form-control form-control-sm w-auto ml-1"
        {placeholder}
        on:change={onSort}
      >
        {#each sorts as { value, label }}
          <option {value}>{$_(label)}</option>
        {/each}
      </select>
    </div>
  {/if}
</div>

<style>
  select {
    font-size: 0.6em;
  }
</style>
