<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import IconButton from '$lib/ui/atoms/icon-button/IconButton.svelte';
  import ListItem from '$lib/ui/molecules/list-item/ListItem.svelte';
  import YoutubePreview from '$lib/ui/molecules/youtube-preview/YoutubePreview.svelte';
  import { getFeedIcon } from '$lib/ui/organisms/feed/getFeedIcon';
  import type { Dispatcher } from '$lib/ui/types';
  import type { Feed, Article } from '$lib/types';

  interface $$Events {
    read: CustomEvent<Article>;
    seeMore: CustomEvent<Article>;
  }
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  export let image: string;
  export let feed: Feed;
  export let title: string;
  export let description: string;
  export let url: string;
  export let created: string;
  export let unread = false;
  export let open = false;

  function onRead() {
    dispatch('read', $$props);
  }

  function onSeeMore() {
    dispatch('seeMore', $$props);
  }

  $: icon = unread ? { name: 'read', color: 'success' } : { name: 'unread', color: 'secondary' };
  $: feedIcon = getFeedIcon(feed);
</script>

<ListItem
  cyId="list-item-article"
  icon={feedIcon}
  inactive={!unread}
  {open}
  source={feed}
  {title}
  {url}
  on:click={onSeeMore}
  on:seeMore={onSeeMore}
>
  <span slot="actions">
    <IconButton
      cyId={unread ? 'list-item-article_actions_read' : 'list-item-article_actions_unread'}
      {...icon}
      on:click={onRead}
    />
  </span>
  <div
    slot="detail"
    class="row d-flex"
    data-cy="list-item-article_detail"
  >
    {#if feed.type === 'youtube-channel'}
      <div class="col-md-12 card-body px-5">
        <YoutubePreview link={url} />
      </div>
    {:else if image}
      <div class="col-md-4 card-body">
        <img
          class="card-img"
          alt={title}
          src={image}
        />
      </div>
    {/if}
    <div
      class:col-md-12={!image}
      class:col-md-8={image}
    >
      <div class="card-body">
        <p class="card-text">
          {@html description}
        </p>
        <p class="card-text">
          <small class="text-muted">{new Date(created).toISOString()}</small>
        </p>
      </div>
    </div>
  </div>
</ListItem>
