<script
  lang="ts"
  strictEvents
>
  import Loading from '$lib/ui/atoms/loading/Loading.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import Article from '$lib/ui/organisms/article/Article.svelte';
  import type { Article as ArticleType } from '$lib/types';

  import { searchInProps } from './utils';

  export let articles: ArticleType[] = [];
  export let loading = false;

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    header: unknown;
  }

  let search = '';

  function onSeeMore({ detail }: CustomEvent<ArticleType>) {
    articles = articles.map((a) => ({ ...a, open: detail.id === a.id && !detail.open }));
  }

  function onFilter({ detail }: CustomEvent<string>) {
    search = detail;
  }

  $: items = search
    ? articles.filter((a) => searchInProps(a, search, ['title', 'feed.name']))
    : articles;

  $: nbArticles =
    (items.length != articles.length ? `${items.length} / ` : '') + `${articles.length} news`;
</script>

<div
  class="mb-2"
  data-cy="page-form-articles"
>
  <div class="col-12 offset-lg-6 col-lg-6 d-flex justify-content-end align-items-center">
    <slot name="header" />
    <span class="pr-2">
      {nbArticles}
    </span>
    <TextField
      class="my-0"
      small
      on:change={onFilter}
    />
  </div>
</div>
{#if loading}
  <Loading />
{:else if items.length}
  {#each items as article (article.url)}
    <Article
      {...article}
      on:read
      on:seeMore={onSeeMore}
    />
  {/each}
{:else}
  <p class="text-muted text-center">nothing new sorry...</p>
{/if}
