<script>
  import { createEventDispatcher } from 'svelte';
  import debounce from 'lodash/debounce';
  import omit from 'lodash/omit';

  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  const dispatch = createEventDispatcher();

  export let items = [];
  export let value = '';
  export let loadOptions;
  export let getOptionLabel = ({ label }) => label;

  $: restProps = omit($$props, ['items', 'value', 'loadOptions', 'getOptionLabel']);

  let open = false;
  let options = [];
  let activeIndex = -1;

  function onClose(index) {
    activeIndex = -1;
    open = false;

    if (index > -1) {
      const item = omit(options[index], ['_label']);
      options = [];
      dispatch('select', item);
    }
  }

  function onOpen() {
    open = true;
  }

  function onSelectValue(e) {
    const { index } = e.target.dataset;
    onClose(index);
  }

  function regExpEscape(s) {
    return s.replace(/[-\\^$*+?.()|[\]{}]/g, '\\$&');
  }

  async function setOptions() {
    if (!value.length) {
      options = [];
      return;
    }

    let toDisplay = [];

    if (loadOptions) {
      toDisplay = await loadOptions(value);
    } else {
      toDisplay = items.filter((item) =>
        getOptionLabel(item).toUpperCase().includes(value.toUpperCase())
      );
    }

    const regExp = new RegExp(regExpEscape(value.trim()), 'i');

    options = toDisplay.map((item) => ({
      ...item,
      _label: getOptionLabel(item).replace(regExp, '<strong>$&</strong>')
    }));
  }

  const updateList = debounce(setOptions, 250);

  function onKeyDown(e) {
    if (!open) {
      onOpen();
    }
    switch (e.keyCode) {
      case 40: // down
        if (!open) {
          onOpen();
        }
        if (activeIndex < options.length - 1) {
          activeIndex++;
        }
        break;
      case 38: // up
        if (!open) {
          onOpen();
        }
        if (activeIndex > 0) {
          activeIndex--;
        }
        break;
      case 13: // enter
        if (activeIndex > -1) {
          onClose(activeIndex);
        }
        break;
      case 27: // escape
        onClose();
        break;
      default:
        updateList();
    }
  }
</script>

<svelte:window on:click={onClose} />

<div
  on:click|stopPropagation
  on:keyup|stopPropagation
  class={`autocomplete ${$$props.class}`}
>
  <TextField
    type="text"
    {...restProps}
    bind:value
    on:focus={onOpen}
    on:input={onOpen}
    on:keydown={onKeyDown}
  >
    {#if open && options.length}
      <ul
        on:click={onSelectValue}
        on:keyup={onSelectValue}
      >
        {#each options as item, i}
          <li
            data-index={i}
            class:active={i === activeIndex}
          >
            {@html item._label || item.label}
          </li>
        {/each}
      </ul>
    {/if}
  </TextField>
</div>

<style>
  .autocomplete {
    position: relative;
  }

  ul {
    color: #7a7a7a;
    list-style: none;
    text-align: left;
    cursor: pointer;
    background-color: white;
    padding: 0;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 100;
    top: 100%;
    min-width: 100%;
  }

  li {
    position: relative;
    color: #7a7a7a;
    list-style: none;
    text-align: left;
    padding: 0.15rem 0.5rem;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 0.9em;
  }

  li:hover,
  li.active {
    background-color: #ebebeb;
  }
</style>
