<!-- @migration-task Error while migrating Svelte code: migrating this component would require adding a `$props` rune but there's already a variable named props.
     Rename the variable and try again or migrate by hand. -->
<script context="module">
  export function propParser(component, opts = {}) {
    return (props) => ({ props, component, ...opts });
  }
</script>

<script>
  export let component;
  export let props = {};
  export let content = 'div';
  export let big = false;
</script>

<div class="position-relative">
  <svelte:component
    this={component}
    {...props}
  >
    {#if content === 'string'}
      my content
    {:else}
      <div
        class="border w-100 border-info bg-white"
        class:big
      >
        my content
        <span class="text-muted border">and my sub content</span>
      </div>
    {/if}
  </svelte:component>
</div>

<style>
  .big {
    height: 1000px;
  }
</style>
