<script lang="ts">
  import formatDistanceToNow from 'date-fns/formatDistanceToNow/index.js';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import { parseDate } from '$lib/utils/date';

  export let value: unknown;

  function getValue(value: unknown) {
    const date = parseDate(value);

    if (!date) {
      return '-';
    }

    return formatDistanceToNow(date);
  }

  $: date = getValue(value);
</script>

<Caption>{date}</Caption>
