<script context="module">
  export function preload(page, session) {
    const { user } = session;

    if (!user) {
      this.redirect(302, '/auth/login');
    }

    return { user };
  }
</script>

<script>
  import { goto, stores } from '@sapper/app';

  import { post } from '$lib/utils/post';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  const { session } = stores();

  let { email, name } = $session.user;

  async function logout() {
    await post('api/auth/logout.json');
    $session.user = null;
    goto('/');
  }
</script>

<svelte:head>
  <title>Settings</title>
</svelte:head>

<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <TextField
          type="text"
          label="email"
          bind:value={email}
        />
        <TextField
          type="text"
          label="name"
          bind:value={name}
        />

        <hr />

        <button
          class="btn btn-outline-danger"
          on:click={logout}
        >
          click here to logout.
        </button>
      </div>
    </div>
  </div>
</div>
