<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import Button from '$lib/ui/atoms/button/Button.svelte';
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import Default from '$lib/ui/templates/default/Default.svelte';

  const dispatch = createEventDispatcher();

  function onLogout() {
    dispatch('logout');
  }

  export let email: string;
  export let name: string;
  export let loading: boolean | undefined;
  export let errors: string | undefined;
</script>

<Default>
  <h1 class="text-center">Settings</h1>

  <div
    class="form-group"
    data-cy="form-me"
  >
    <TextField
      type="email"
      name="email"
      label="email"
      bind:value={email}
    />
    <TextField
      type="text"
      name="name"
      label="name"
      bind:value={name}
    />
  </div>

  <hr />

  <div class="text-center">
    <Button
      color="danger"
      class="m-auto"
      {loading}
      on:click={onLogout}>logout</Button
    >
  </div>

  <Errors {errors} />
</Default>
