<script>
  import TabItem from '$lib/ui/organisms/list-tab-item/ListTabItem.svelte';
  export let tabs;
</script>

<div>
  {#each tabs as { href, ...tab }}
    <a
      {href}
      class="tab"
    >
      <TabItem {...tab} />
    </a>
  {/each}
</div>

<style>
  a.tab,
  a.tab:hover {
    text-decoration: none;
    color: initial;
    cursor: pointer;
  }
</style>
