<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import Button from '$ui/atoms/button/Button.svelte';
  import TextField from '$ui/atoms/fields/text/TextField.svelte';
  import Default from '$ui/templates/default/Default.svelte';

  interface Props {
    email: any;
    name: any;
    dateOfBirth: any;
    syncLibAccount?: boolean;
    importing: any;
    saving: any;
    children?: import('svelte').Snippet;
  }

  let {
    email = $bindable(),
    name = $bindable(),
    dateOfBirth = $bindable(),
    syncLibAccount = $bindable(false),
    importing,
    saving,
    children
  }: Props = $props();

  const dispatch = createEventDispatcher();

  function getData() {
    return { email, dateOfBirth, syncLibAccount, name };
  }

  function onImport() {
    dispatch('import', getData());
  }

  function onSave() {
    dispatch('save', getData());
  }
</script>

<Default>
  <h1 class="text-center">Settings</h1>

  <div
    class="form-group"
    data-cy="form-me"
  >
    <TextField
      type="email"
      name="email"
      label="email"
      bind:value={email}
    />
    <TextField
      type="text"
      name="name"
      label="name"
      bind:value={name}
    />

    <TextField
      type="text"
      name="dateOfBirth"
      placeholder="DDMMYYYY"
      label="date of birth"
      bind:value={dateOfBirth}
      required={!!syncLibAccount}
    />

    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="sync-lib-account"
        bind:checked={syncLibAccount}
      />
      <label
        class="form-check-label"
        for="sync-lib-account"
      >
        Synchronize with your library account
      </label>
    </div>

    <Button
      color="success"
      class="m-auto"
      loading={saving}
      disabled={!email || !name}
      on:click={onSave}
    >
      save
    </Button>

    <hr />

    <Button
      color="info"
      class="m-auto"
      loading={importing}
      on:click={onImport}
      disabled={!dateOfBirth}
    >
      import your basket
    </Button>
  </div>

  <hr />

  {@render children?.()}
</Default>

<style>
  hr {
    background-color: var(--gray);
  }
</style>
