<script lang="ts">

  import { page } from '$app/state';

  import Layout from '$ui/templates/layout/Layout.svelte';
  import { menuFilter } from '$views/stores';

  interface Props {
    children?: import('svelte').Snippet<[any]>;
  }

  let { children }: Props = $props();

  let search = page.url.searchParams.get('s');
  const title = 'lirelu' + (search ? ' - ' + search : '');
  let open = $state(false);

  menuFilter.subscribe((value) => {
    open = value;
  });

  /* TODO i know you  can do better
  function onSearch() {
    goto(URL_SEARCH);
  }

  function onUser() {
    goto(URL_USER_INDEX);
  }

  function onLogIn() {
    goto(URL_LOGIN);
  }

  function onUserStack() {
    goto(URL_USER_STACK);
  }
  */

  function onToggle() {
    menuFilter.update((v) => !v);
  }

  let user = $derived(page.data.session);
</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>

<Layout
  {open}
  {user}
>
  {@render children?.({ open })}
</Layout>
