<script lang="ts">
  import Icon from '$ui/atoms/icon/Icon.svelte';
  import { getClassTextColor } from '$ui/utils/getClassTextColor';

  import type { Color } from '$ui/types';
  import type { ComponentProps } from 'svelte';

  interface Props {
    icon?: ComponentProps<typeof Icon>['name'];
    cyId?: string | undefined;
    color?: Color | undefined;
    href?: string;
    onClick?: () => void;
  }

  let {
    icon: name = '',
    cyId = undefined,
    color = undefined,
    href,
    onClick
  }: Props = $props();

  let textColor = $derived(getClassTextColor(color));
</script>

<li class="nav-item">
  {#if href}
    <a
      class={`nav-link ${textColor}`}
      aria-hidden="true"
      data-cy={cyId}
      {href}
    >
      <Icon
        {name}
        disabled
        medium
      />
    </a>
  {:else}
    <div
      class={`nav-link ${textColor}`}
      aria-hidden="true"
      data-cy={cyId}
      onclick={onClick}
    >
      <Icon
        {name}
        disabled
        medium
      />
    </div>
  {/if}
</li>

<style>
  .nav-item {
    white-space: nowrap;
    cursor: pointer;
  }

  .nav-link {
    margin: 0 5px;
    padding: 0;
  }
</style>
