<script lang="ts">
  import { enhance } from '$app/forms';
  import { goto, invalidateAll } from '$app/navigation';

  import LoginForm from './LoginForm.svelte';

  import type { ActionResult } from '@sveltejs/kit';

  let loading = false;
  let errors: undefined | string;

  async function onSubmit() {
    loading = true;
    return async ({ result }: { result: ActionResult }) => {
      loading = false;
      if (result.status !== 200) {
        errors = 'Sorry, this is not possible';
        return;
      }
      await invalidateAll();
      goto('/');
    };
  }
</script>

<svelte:head>
  <title>Sign in</title>
</svelte:head>

<form
  data-cy="form-login"
  method="POST"
  use:enhance={onSubmit}
>
  <LoginForm
    {loading}
    {errors}
  />
</form>
