<script lang="ts">
  import isArray from 'lodash/isArray';

  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  export let errors: undefined | string;
  export let password = '';
  export let login = '';
</script>

<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign In</h1>

        {#if errors}
          <Errors errors={isArray(errors) ? errors : [errors]} />
        {/if}

        <TextField
          name="login"
          type="text"
          placeholder="email or username"
          bind:value={login}
        />
        <TextField
          name="password"
          type="password"
          placeholder="password"
          bind:value={password}
        />
        <button
          class="btn btn-lg btn-primary pull-xs-right"
          type="submit"
          disabled={!login || !password}
        >
          Sign in
        </button>
      </div>
    </div>
  </div>
</div>
