<script
  lang="ts"
  strictEvents
>
  import ajax from '$lib/utils/ajax';
  import Link from '$lib/ui/atoms/link/Link.svelte';
  import Articles from '$lib/ui/pages/articles/Articles.svelte';
  import { URL_API_USER_ARTICLES } from '$lib/views/constants';
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import { getFeedIcon } from '$lib/ui/organisms/feed/getFeedIcon';
  import type { Article } from '$lib/types';

  import type { PageData } from './$types';

  export let data: PageData;

  const { items, ...feed } = data;

  const icon = getFeedIcon(feed);

  function onRead({ detail }: CustomEvent<Article>) {
    const index = items.findIndex(({ id }) => id === detail.id);
    items[index].loading = true;

    ajax
      .put(URL_API_USER_ARTICLES, { article: detail })
      .then((r) => {
        items[index] = {
          ...items[index],
          ...r,
          loading: false
        };
      })
      .catch(() => {
        alert('iups');
        items[index] = {
          ...items[index],
          loading: false
        };
      });
  }
</script>

<Articles
  articles={items}
  on:read={onRead}
>
  <div
    slot="header"
    class="slot-header"
  >
    <Link
      slot="header"
      blank
      href={feed.url}
    >
      <span class="link-content d-flex align-items-center h4">
        <Icon
          name={icon}
          medium
        />
        <span class="d-flex flex-column">
          <span class="text-capitalize">{feed.name}</span>
          <small class="text-muted">{feed.type}</small>
        </span>
      </span>
    </Link>
  </div>
</Articles>

<style>
  .slot-header {
    flex-grow: 1;
  }

  .slot-header .link-content {
    gap: 0.5rem;
  }

  small {
    font-size: 1rem;
  }
</style>
