<script
  context="module"
  lang="ts"
>
  export type NewFeed = {
    name: string;
    edit: boolean;
    types: Array<{ label: string; value: string }>;
    loading?: boolean;
  };
</script>

<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import IconButton from '$lib/ui/atoms/icon-button/IconButton.svelte';
  import Button from '$lib/ui/atoms/button/Button.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import SelectField from '$lib/ui/atoms/fields/select/SelectField.svelte';
  import ListItem from '$lib/ui/molecules/list-item/ListItem.svelte';
  import Article from '$lib/ui/organisms/article/Article.svelte';
  import type { Dispatcher } from '$lib/ui/types';
  import type { EditableFeed, Article as ArticleType } from '$lib/types';

  import { getFeedIcon } from './getFeedIcon';

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  type $$Props =
    | EditableFeed
    | (NewFeed & {
        types?: Array<{ value: string; label: string }>;
        errors?: string;
        edit?: boolean;
      });

  interface $$Events {
    preview: CustomEvent<EditableFeed | NewFeed>;
    follow: CustomEvent<EditableFeed | NewFeed>;
    save: CustomEvent<EditableFeed | NewFeed>;
    cancel: CustomEvent<EditableFeed | NewFeed>;
    edit: CustomEvent<EditableFeed | NewFeed>;
  }
  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  export let name = '';
  export let url = '';
  export let config = '';
  export let follow = false;
  export let filter = '';
  export let type = '';
  export let types: Array<{ value: string; label: string }> = [];
  export let loading = false;
  export let loadingPreview = false;
  export let articles: ArticleType[] = [];
  export let edit = false;
  export let errors = '';

  let articleOpen: -1 | string;

  function onOpenArticle({ detail: { url } }: CustomEvent<{ url: string }>) {
    articleOpen = url === articleOpen ? -1 : url;
  }

  function onPreview() {
    dispatch('preview', { ...$$props, ...input });
  }

  function onFollow() {
    dispatch('follow', { ...$$props, ...input });
  }

  function onSave() {
    dispatch('save', { ...$$props, ...input });
  }

  function onCancel() {
    dispatch('cancel', $$props);
    input = { name, url, type, config, filter, follow };
  }

  function onSeeMore() {
    edit = !edit;
    if (edit) {
      dispatch('edit', $$props);
    }
  }

  function onItemClick() {
    if (!edit) {
      onSeeMore();
      return;
    }

    if (
      input.name !== name ||
      input.url !== url ||
      input.type !== type ||
      input.filter !== filter ||
      input.config !== config
    ) {
      if (!confirm('Do you really want to do that?')) {
        return;
      }
    }

    onSeeMore();
  }

  $: input = { name, url, type, config, filter, follow };
  $: icon = getFeedIcon({ type, name });
  $: followIcon = follow
    ? { name: 'unfollow', color: 'secondary', cyId: 'list-item-feed_actions_follow' }
    : { name: 'follow', color: 'success', cyId: 'list-item-feed_actions_follow' };
</script>

<ListItem
  cyId="list-item-feed"
  hideDetail={edit}
  {icon}
  open={edit}
  title={name}
  {url}
  on:click={onItemClick}
  on:seeMore={onSeeMore}
>
  <div
    slot="actions"
    class="d-flex"
  >
    {#if edit}
      <Button
        class="btn-sm mr-3"
        color="primary"
        cyId="list-item-feed_actions-save"
        disabled={!input.url || !input.type || !input.name}
        {loading}
        on:click={onSave}
      >
        save
      </Button>
      <Button
        class="btn-sm"
        color="danger"
        cyId="list-item-feed_actions-cancel"
        on:click={onCancel}
      >
        cancel
      </Button>
    {:else if follow}
      <IconButton
        {...followIcon}
        on:click={onFollow}
      />
    {/if}
  </div>
  <div
    slot="detail"
    class="m-2 d-flex flex-column"
    data-cy="list-item-feed-form"
  >
    <Errors {errors} />

    <TextField
      name="name"
      label="name"
      bind:value={input.name}
    />

    <TextField
      name="url"
      label="url"
      bind:value={input.url}
    />

    <SelectField
      name="type"
      items={types}
      label="type"
      placeholder="choose a type"
      bind:value={input.type}
    />

    <TextField
      name="config"
      label="config"
      type="textarea"
      bind:value={input.config}
    />

    <TextField
      name="filter"
      label="filter"
      bind:value={input.filter}
    />

    <Button
      class="align-self-center btn-sm"
      color="info"
      disabled={!input.type || !input.url}
      loading={loadingPreview}
      on:click={onPreview}
    >
      preview
    </Button>

    {#if !loadingPreview && articles.length}
      <div class="preview card m-2">
        {#each articles as article (article.url)}
          <Article
            cyId="list-item-feed-article"
            {...article}
            open={article.url === articleOpen}
            on:seeMore={onOpenArticle}
          />
        {/each}
      </div>
    {/if}
  </div>
</ListItem>

<style>
  .preview {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
</style>
