<script lang="ts">
  import Bookcase from '$ui/molecules/bookcase/Bookcase.svelte';
  import Book from '$ui/molecules/book/Book.svelte';
  import GetBookBookcasesFormAction from '$ui/actions/get-book-bookcases-form-action.svelte';
  import Button from '$ui/atoms/button/Button.svelte';

  import type {
    Novel,
    Book as BookType,
    Bookcase as BookcaseType
  } from '$ui/types';

  interface Props extends Pick<Novel, 'books' | 'library'> {}

  let { books, library }: Props = $props();

  let openBook: BookType | undefined = $state(undefined);

  function onOpenBook(index: number) {
    return () => {
      if (openBook && books[index].isbn === openBook.isbn) {
        openBook = undefined;
        return;
      }

      openBook = books[index];
    };
  }

  function onBookcasesLoaded({
    book,
    bookcases
  }: {
    book: BookType | undefined;
    bookcases: BookcaseType[];
  }) {
    if (!book) {
      // eslint parser error
      return;
    }
    openBook = {
      ...book,
      bookcases
    };
  }
</script>

<div class="list-group list-group-horizontal justify-content-between">
  {#each books as { isbn, available, edition, url }, index (isbn)}
    <Book
      active={(openBook && openBook.isbn === isbn) ?? false}
      {available}
      {edition}
      {url}
      onClick={onOpenBook(index)}
    />
  {/each}
</div>
{#if openBook}
  <div class="bookcases">
    {#if openBook.bookcases.length}
      {#each openBook.bookcases as bookcase, index (index)}
        <Bookcase
          {...bookcase}
          active={!library && bookcase.idLibrary === library}
        />
      {/each}
    {:else}
      <div class="p-2 text-center text-muted">
        <GetBookBookcasesFormAction
          details={openBook.details}
          id={openBook.id}
          onSuccess={(bookcases) =>
            onBookcasesLoaded({ book: openBook, bookcases })}
          class="d-flex justify-content-center p-3"
        >
          {#snippet children({ onSubmit, isPending })}
            <Button
              small
              type="button"
              loading={isPending}
              onClick={onSubmit}>click to load bookcases</Button
            >
          {/snippet}
        </GetBookBookcasesFormAction>
      </div>
    {/if}
  </div>
{/if}

<style>
  .bookcases {
    border-top: 1px solid var(--info);
  }
</style>
