<script lang="ts">
  import Errors from '$ui/atoms/errors/Errors.svelte';
  import Button from '$ui/atoms/button/Button.svelte';
  import TextField from '$ui/atoms/fields/text/TextField.svelte';
  import Default from '$ui/templates/default/Default.svelte';

  interface Props {
    errors?: string | undefined;
    password?: string;
    email?: string;
    name?: string;
    loading?: boolean;
  }

  let {
    errors = undefined,
    password = $bindable(''),
    email = $bindable(''),
    name = $bindable(''),
    loading = false
  }: Props = $props();
</script>

<Default>
  <div
    class="d-flex align-items-center flex-column"
    data-cy="form-register"
  >
    <h1 class="text-xs-center">Sign Up</h1>

    <Errors {errors} />

    <div class="d-flex align-items-center flex-column">
      <TextField
        name="name"
        placeholder="username"
        required
        type="text"
        bind:value={name}
      />

      <TextField
        name="email"
        placeholder="email"
        required
        type="email"
        bind:value={email}
      />

      <TextField
        name="password"
        placeholder="password"
        required
        type="password"
        bind:value={password}
      />

      <Button
        color="primary"
        disabled={!email || !name || !password}
        {loading}
        type="submit">Register</Button
      >
    </div>
  </div>
</Default>
