<script lang="ts">
  import { enhance } from '$app/forms';
  import { goto, invalidateAll } from '$app/navigation';
  import { URL_USER_ARTICLES } from '$lib/views/constants';
  import LoginForm from '$lib/ui/pages/login/Login.svelte';

  import type { ActionResult } from '@sveltejs/kit';

  let loading = false;
  let errors: undefined | string;

  async function onSubmit() {
    loading = true;
    return async ({ result }: { result: ActionResult }) => {
      loading = false;
      if (result.status !== 200) {
        errors = 'Sorry, this is not possible';
        return;
      }
      await invalidateAll();
      goto(URL_USER_ARTICLES);
    };
  }
</script>

<form
  data-cy="form-login"
  method="POST"
  use:enhance={onSubmit}
>
  <LoginForm
    {loading}
    {errors}
  />
</form>
