<script>
  import { URL_USER_FEEDS, URL_USER_ARTICLES } from '$lib/views/constants';
  import Layout from '$lib/ui/templates/layout/Layout.svelte';

  export let segment;

  export let links = [
    {
      href: URL_USER_ARTICLES,
      label: 'articles'
    },
    {
      href: URL_USER_FEEDS,
      label: 'feeds'
    }
  ];
</script>

<Layout
  {segment}
  {links}
>
  <slot />
</Layout>
