<script lang="ts">
  interface Props {
    value: number;
    active?: boolean;
    loaded?: boolean;
    onClick: (args: number) => void;
  }

  let { value, active = false, loaded = false, onClick }: Props = $props();

  function handleClick(e: MouseEvent) {
    e.stopPropagation();
    onClick(value);
  }

  function getColor(active?: boolean, loaded = false) {
    if (active) {
      return 'info';
    }
    return loaded ? 'primary' : 'dark';
  }

  let color = $derived(getColor(active, loaded));
</script>

<span
  class={`p-1 badge badge-pill badge-${color}`}
  class:active
  class:loaded
  aria-hidden="true"
  data-cy="atoms_tome"
  onclick={handleClick}
>
  {value}
</span>

<style>
  span {
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0 1px;
  }

  span:hover {
    background-color: var(--dark);
    border-color: var(--light);
  }

  span.loaded:hover {
    border-color: var(--primary);
    color: var(--primary);
  }

  span.active:hover {
    border-color: var(--info);
    color: var(--info);
  }
</style>
