<script lang="ts">
  import type { Snippet } from 'svelte';

  interface Props {
    reverse?: boolean;
    class?: string;
    children?: Snippet;
  }
  let { reverse = false, children, class: classProp = '' }: Props = $props();
</script>

<div class={`navbar navbar-expand navbar-dark bg-dark ${classProp}`}>
  <ul
    class="navbar-nav d-flex align-items-center w-100 justify-content-between"
    class:flex-row-reverse={reverse}
  >
    {@render children?.()}
  </ul>
</div>

<style>
  .navbar {
    height: 50px;
  }

  .nav-item {
    white-space: nowrap;
    cursor: pointer;
  }
</style>
