<script lang="ts">
  import type { Snippet } from 'svelte';

  interface Props {
    color?: string;
    loading?: boolean;
    disabled?: boolean;
    cyId?: string;
    type?: 'button' | 'submit';
    outline?: boolean;
    small?: boolean;
    class?: string;
    onClick?: () => void;
    children?: Snippet;
  }
  let {
    color = 'primary',
    loading = false,
    disabled = false,
    cyId,
    type = 'button',
    outline = false,
    small = false,
    class: classProp,
    children,
    onClick
  }: Props = $props();

  const disabledBtn = $derived(outline || loading || disabled);
  const className = $derived(
    `btn-${outline ? 'outline-' : ''}${color} ${classProp || ''}`
  );
</script>

<button
  class={`d-flex align-items-center btn ${className}`}
  class:loading
  class:outline
  class:small
  data-cy={cyId}
  disabled={disabledBtn}
  {type}
  onclick={onClick}
>
  {@render children?.()}
  <span class="spinner-border"></span>
</button>

<style>
  button {
    position: relative;
  }

  button,
  .spinner-border {
    transition: 0.3s linear;
  }

  .spinner-border {
    opacity: 0;
    position: absolute;
    top: calc(50% - 0.65rem);
    right: 5px;
    width: 1.3rem;
    height: 1.3rem;
    border-width: 3px;
    transition: 0.3s linear;
  }

  .loading {
    padding-right: 35px !important;
    padding-left: 10px !important;
  }

  .loading .spinner-border {
    opacity: 1;
  }

  .small {
    font-size: 0.8rem;
  }
  .small .spinner-border {
    width: 1rem;
    height: 1rem;
    top: calc(50% - 0.55rem);
  }

  .small.loading {
    padding-right: 25px !important;
    padding-left: 10px !important;
  }
</style>
