<!-- @migration-task Error while migrating Svelte code: $$props is used together with named props in a way that cannot be automatically migrated. -->
<script context="module">
  export const colors = [
    'primary',
    'secondary',
    'success',
    'danger',
    'warning',
    'info',
    'light',
    'dark',
    'link'
  ];
</script>

<script
  lang="ts"
  strictEvents
>
  import Button from './Button.svelte';

  export let loading = false;

  function onClick() {
    loading = !loading;
  }
</script>

<div class="d-flex flex-wrap">
  {#each colors as color (color)}
    <div class="m-1">
      <Button
        {...$$props}
        {color}
        {loading}
        on:click={onClick}
      >
        {color}
      </Button>
    </div>
  {/each}
</div>
