<script lang="ts">
  import Icon from '$ui/atoms/icon/Icon.svelte';
  import { getClassTextColor } from '$ui/utils/getClassTextColor';

  import type { Color } from '$ui/types';
  import type { ComponentProps } from 'svelte';

  interface Props {
    icon: ComponentProps<typeof Icon>['name'];
    color: Color;
    label: string;
    active?: boolean;
    cyId?: string | undefined;
    onClick: () => void;
  }

  let {
    icon,
    color,
    label,
    active = false,
    cyId = undefined,
    onClick
  }: Props = $props();

  let colorClass = $derived(getClassTextColor(color));
  function handleClick(e: MouseEvent) {
    e.stopPropagation();
    onClick();
  }
</script>

<div
  class="step list-group-item list-group-item-action p-1"
  class:active
  aria-hidden="true"
  data-cy={cyId}
  onclick={handleClick}
>
  <Icon
    name={icon}
    class={colorClass}
  />
  <span class={`${colorClass} ml-2`}>{label}</span>
</div>

<style>
  .step {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
  }

  .step:hover,
  .step.active:hover,
  .step.active {
    opacity: 1;
  }

  .step:active {
    background-color: transparent;
  }

  .step.active span {
    font-weight: bold;
  }
</style>
