<script
  lang="ts"
  strictEvents
>

  import { invalidate } from '$app/navigation';

  import Errors from '$ui/atoms/errors/Errors.svelte';
  import Loading from '$ui/atoms/loading/Loading.svelte';
  import ListItem from '$ui/atoms/containers/list-item/ListItem.svelte';
  import SearchUnfollow from '$ui/actions/SearchUnfollow.svelte';
  import { URL_SEARCH_QUERY, URL_SEARCH } from '$views/constants';
  import { DEPENDS_ENUM } from '$lib/types';

  import type { PageData } from './$types';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();

  function onUnfollowed() {
    invalidate(DEPENDS_ENUM.userFollowedSearch);
  }
</script>

{#await data.streamed.searchs}
  <div class="mt-5">
    <Loading large />
  </div>
{:then searchs}
  <div class="search mx-md-4 mx-0 p-0 my-3">
    {#each searchs as { search, nbResults, id } (id)}
      <div class="my-1">
        <ListItem>
          <div
            class="py-1 py-sm-2 px-2 px-sm-3 d-flex align-items-center justify-content-between"
          >
            <div class="content ml-2">
              <a href={URL_SEARCH_QUERY.replace('#QUERY#', search)}>{search}</a>
              <small class="ml-2">{nbResults} results</small>
            </div>
            <SearchUnfollow
              {nbResults}
              {search}
              on:complete={onUnfollowed}
            />
          </div>
        </ListItem>
      </div>
    {/each}
  </div>

  <div
    class="d-flex flex-column align-items-center justify-content-center my-4"
  >
    <a href={URL_SEARCH}>back</a>
  </div>
{:catch error}
  <Errors errors={error.message} />
{/await}

<style>
  .search {
    display: flex;
    flex-direction: column;
  }
</style>
