<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import type { Dispatcher } from '$ui/types';

  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();
  // eslint-disable-next-line no-undef
  type T = $$Generic;

  interface $$Events {
    change: CustomEvent<{ value: T; checked: boolean }>;
  }

  interface Props {
    label?: string | undefined;
    id?: string | undefined;
    value: T;
    checked?: boolean;
  }

  let {
    label = undefined,
    id = undefined,
    value,
    checked = $bindable(false)
  }: Props = $props();

  function handleChange() {
    dispatch('change', { value, checked });
  }
</script>

<div class="custom-control custom-checkbox">
  <input
    {id}
    class="custom-control-input"
    type="checkbox"
    bind:checked
    onchange={handleChange}
  />
  <label
    class="custom-control-label"
    for={id}
  >
    {label}
  </label>
</div>

<style>
  .custom-control > input,
  .custom-control > label {
    cursor: pointer;
  }
</style>
