<script lang="ts">
  import BookcaseStatus from '$ui/atoms/bookcase-status/BookcaseStatus.svelte';
  import ListItem from '$ui/atoms/containers/list-item/ListItem.svelte';
  import NovelHeader from '$ui/molecules/novel-header/NovelHeader.svelte';
  import NovelAction from '$ui/molecules/novel-action/NovelAction.svelte';
  import NovelBook from '$ui/organisms/novel-book/novel-book.svelte';
  import LoanStatus from '$ui/molecules/loan-status/LoanStatus.svelte';

  import type { Loan, Saga, Novel } from '$ui/types';
  import type { Snippet } from 'svelte';

  interface Props extends Novel {
    open?: boolean;
    renewAction?: string;
    saga?: Saga;
    children?: Snippet;
  }

  interface Events {
    onStatusChange: (
      args: Omit<Props, 'status'> & { status: undefined | null | string }
    ) => void;
    onRenew: (args: Loan) => void;
  }

  let {
    open = $bindable(false),
    onStatusChange,
    onRenew,
    ...restProps
  }: Props & Events = $props();

  let {
    author,
    isbn,
    saga,
    title,
    description,
    status,
    library,
    thumb,
    books,
    bookcase,
    loan,
    loading = false,
    renewAction,
    children
  } = $derived(restProps);

  function handleStatusChange(status: string | undefined | null) {
    onStatusChange({ ...restProps, status });
  }

  function toggleDetails() {
    open = !open;
  }

  // loan could only be display when in library
  const showLoanStatus = $derived(
    loan && (!library || library === loan.library.id)
  );
</script>

<ListItem
  dataCy="organisms-novel"
  on:click={toggleDetails}
>
  <div class="p-1 p-sm-2">
    {@render children?.()}
    <div
      class="position-relative d-flex justify-content-between align-items-center mx-2 py-1"
    >
      <NovelHeader
        class="py-1 flex-grow-1"
        {author}
        {isbn}
        {saga}
        {thumb}
        {title}
      />

      {#if bookcase && !showLoanStatus}
        <BookcaseStatus
          cote={bookcase.cote}
          isAvailable={bookcase.isAvailable}
          status={bookcase.status}
          whenBack={bookcase.whenBack}
        />
      {/if}
      <div
        class="flex-shrink-1 ml-2"
        data-cy="organisms-novel-action"
      >
        {#if showLoanStatus && loan}
          <LoanStatus
            cannotRenewReason={loan.cannotRenewReason}
            idBook={loan.idBook}
            isLate={loan.isLate}
            isSoonLate={loan.isSoonLate}
            library={loan.library}
            {renewAction}
            renewData={loan.renewData}
            whenBack={loan.whenBack}
          />
        {:else}
          <NovelAction
            canRemove={!!status}
            {loading}
            value={status}
            onChange={handleStatusChange}
          />
        {/if}
      </div>
    </div>
  </div>
  {#if open}
    {#if description}
      <div class="px-2 text-muted">
        <p class="mt-1 pt-1 px-2 border-top border-secondary">
          {@html description}
        </p>
      </div>
    {/if}
    <NovelBook
      {books}
      {library}
    />
  {/if}
</ListItem>
