<script lang="ts">
  export let id: undefined | string = undefined;
  export let label: undefined | string = undefined;
  export let error: string | undefined = undefined;
</script>

<div class={`${$$props.class} form-group`}>
  {#if label}
    <label
      class="w-100"
      for={id}>{@html label}</label
    >
  {/if}
  <slot />
  {#if error}
    <div class="invalid-feedback">{error}</div>
  {/if}
</div>

<style>
  .invalid-feedback {
    display: block;
  }
</style>
